
/* reset & basic styles */
*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot');
  src: url('fonts/icomoon.eot#iefix') format('embedded-opentype'),
       url('fonts/icomoon.woff') format('woff'),
       url('fonts/icomoon.ttf') format('truetype'),
       url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MaterialDesignIconicFont';
  src: url('fonts/Material-Design-Iconic-Font.eot');
  src: url('fonts/Material-Design-Iconic-Font.eot#iefix') format('embedded-opentype'),
       url('fonts/Material-Design-Iconic-Font.woff') format('woff'),
       url('fonts/Material-Design-Iconic-Font.ttf') format('truetype'),
       url('fonts/Material-Design-Iconic-Font.svg#MaterialDesignIconicFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body{
  height:100%;
}

body{
  background:#fff;
	color:#282828;
	font:300 18px/26px Roboto, Arial, Helvetica, sans-serif;
	margin:0px;	
	padding:0px;
  overflow-y:scroll;
  overflow-x:hidden;
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale;
	text-shadow:0 0;
}

table, tr, td{
	border:none;
	margin:0px;
	padding:0px;
} 

table{
	border-collapse:collapse;
}

img, button{
	border:0px;
	outline:none;
}

p, div, h1, h2, h3, h4, h5, h6, fieldset, form, input, textarea, header, nav, section, article, aside, footer{
	margin:0px;
	padding:0px;
  display: block;
	box-sizing:border-box;
}

ul, li, ol{
	list-style-type:none;
	margin:0px;
	padding:0px;
}

fieldset{
	border:none;
}

textarea{
	overflow:auto;
	outline:none;
  resize:none;
}

input, select, area{
	outline:none;
}

input [type="submit"]::-moz-focus-inner,
input [type="button"]::-moz-focus-inner{
  padding:0;
  border:0;
}

::-ms-clear {
	display:none;
}

input[type="button"], 
input[type="submit"], 
button{ 
	-webkit-appearance: none !important;
}

.clear{
	clear:both;
	height:0px;
	font-size:0px;
}

a{
	color:#282828;
	font:300 18px Roboto, Arial, Helvetica, sans-serif;
	outline:none;
	text-decoration:none;
  -webkit-transition: all 0.9s;
  -moz-transition: all 0.9s;
  -o-transition: all 0.9s;
  transition: all 0.9s;
}

h1,
h2{
	color:#282828;
	font:normal 48px/48px 'Playfair Display', Arial, Helvetica, sans-serif;
}

h2{
	line-height:60px;
}
	
	h1 strong,
	h2 strong{
		font-weight:800;
	}
	

h3{
	color:#fff;
	font:500 18px/24px Roboto, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}

h4{
	
}

/* /reset & basic styles */


.b-page{
  min-height: 100%;
  height: auto;
  margin: 0 auto -801px;
	overflow:hidden;
}

.b-wrap{
	max-width: 1600px;
	margin: 0 auto;
}

/* header */

.b-header{
	min-height:844px;
	background:url(../img/bg1.png) repeat;
	box-shadow:  0px 33px 38px 0px rgba(0,0,0,0.41);
	position:relative;
	z-index:200;
}

.b-header__bg{
	background:url(../img/photo1.png) no-repeat 103% 0;
	min-height:844px;
}

	.b-header__top{
		width:100%;
		min-height:103px;
	}
	
	.fixed{
		position:fixed;
		top:0px;
		left:0px;
		z-index:900;
		background:#1d2b3c;
		box-shadow: 0px 0px 12.35px 0.65px rgba(10, 10, 10, 0.47);
	}
	
		.b-logo{
			float:left;
			position:relative;
			left:-26px;
			margin:33px -26px 0 0;
		}
			
			.b-logo__img{
				display:block;
				width:326px;
			}
			
		.b-menu{
			float:left;
			padding:44px 0 0 56px;
		}
			
			.b-menu__item{
				float:left;
				padding-right:72px;
			}
				
				.b-menu__link{
					color:#fff;
					font-size:24px;
					line-height:24px;
					font-weight:500;
					display:block;
				}
				.b-menu__link:hover{
					color:#dfbb66;
					text-decoration:none;
				}
				
				.fixed .b-menu__link{
					visibility:visible !important;
				}
				
		.b-phone{
			float:right;
			padding:38px 0 0;
			color:#fff;
			font-size:30px;
			line-height:30px;
			font-weight:700;
			position:relative;
			right:-43px;
		}
		.b-phone:before{
			content:'\f2be';
			color:#dfbb66;
			font:normal 30px/30px MaterialDesignIconicFont;
			height:23px;
			width:23px;
			position:absolute;
			top:39px;
			left:-36px;
		}

.b-site__name{
	color:#dfbb66;
	font:normal 36px/36px 'Playfair Display', Arial, Helvetica, sans-serif;
	padding:77px 0 0 247px;
}
	
	.b-site__name br{
		display:none;
	}

.b-site__owner{
	color:#dfbb66;
	font:normal 108px/108px 'Playfair Display', Arial, Helvetica, sans-serif;
	margin:28px 0 0 337px;
	overflow:hidden;
}

	.b-site__owner B{
		font-weight:normal;
		display:block;
	}
	
	.b-site__owner span{
		margin-left:189px;
		margin-top:26px;
		display:block;
	}
	
.b-owner__text{
	color:#fff;
	font-weight:100;
	font:italic 24px/38px 'Playfair Display', Arial, Helvetica, sans-serif;
	display:block;
	position:relative;
	padding:64px 0 0 202px;
	max-width:950px;
	overflow:hidden;
}
	
	.b-text__line{
		position:absolute;
		top:86px;
		left:36px;
		display:block;
		overflow:hidden;
	}
		
		.b-text__line span{
			background:#dfbb66;
			height:2px;
			width:95px;
			display:block;
		}
	
.b-header__icons{
	position:absolute;
	top:357px;
	right:92px;
}
	
	.b-icons__fb{
		display:block;
		margin-bottom:34px;
		position:relative;
	}
	.b-icons__fb:before{
		content:'\f343';
		color:#fff;
		font:normal 30px/30px MaterialDesignIconicFont;
		height:26px;
		width:13px;
	}
	
	.b-icons__inst{
		display:block;
		margin-bottom:20px;
		position:relative;
		left:-5px;
	}
	.b-icons__inst:before{
		content:'\f34f';
		color:#fff;
		font:normal 30px/30px MaterialDesignIconicFont;
		height:26px;
		width:25px;
	}
	
	.b-icons__arrow{
		display:block;
		margin:301px 0 0;
		position:relative;
		left:-4px;
	}
	.b-icons__arrow:before{
		content:'\f2fe';
		height:24px;
		color:#fff;
		font:normal 30px/30px MaterialDesignIconicFont;
		width:16px;
	}
	
	.b-icons__fb:hover:before,
	.b-icons__inst:hover:before,
	.b-icons__arrow:hover:before{
		color:#d9b664;
	}
	.b-icons__fb:active:before,
	.b-icons__inst:active:before,
	.b-icons__arrow:active:before{
		color:#d19d37;
	}

/* /header */

.b-section{
	display:table;
	width:100%;
	padding-bottom:136px;
}

	.b-section__left{
		float:left;
		width:56%;
	}
	
	.b-section__right{
		float:right;
		width:44%;
	}
	
		.b-headline{
			position:relative;
			padding:98px 0 0 236px;
		}
			
			.b-headline .b-text__line{
				top:125px;
				left:76px;
			}
			
		.b-section__text{
			color:#282828;
			font-size:18px;
			line-height:30px;
			max-width:820px;
			margin-right:20px;
			padding:41px 0 0 239px;
		}
		
		.b-section__info{
			display:table;
			width:100%;
			padding:45px 0 10px 241px;
		}
			
			.b-info__left{
				float:left;
				color:#dfbb66;
				font-size:25px;
				line-height:49px;
				font-weight:700;
				width:193px;
			}
				
				.b-info__left strong{
					display:block;
					font-size:60px;
				}
				
			.b-info__right{
				float:left;
				max-width:160px;
				font-size:18px;
				line-height:30px;
			}
			
		.b-section__photo{
			display:block;
			position:relative;
			right:-160px;
			margin-left:-160px;
			top:-24px;
			margin-bottom:-24px;
			z-index:100;
		}
		
		.b-nobel__date{
			opacity:0.1;
			font:normal 311px/95px 'Playfair Display', Arial, Helvetica, sans-serif;
			margin:18px 0 0 201px;
		}
			
			.b-nobel__date span{
				font-size:95px;
				line-height:95px;
				display:block;
				text-align:right;
				position:relative;
				top:-11px;
				padding-right:124px;
			}
			
		.b-nobel__img{
			display:block;
			position:relative;
			top:-95px;
			margin-bottom:-95px;
			margin-left:239px;
		}
		
		.b-nobel__text{
			font-size:18px;
			line-height:30px;
			max-width:555px;
			margin-left:240px;
			padding:5px 0 0;
		}
		
		.b-section__info_2{
			padding-left:0px;
			padding-bottom:0px;
		}
		.b-section__info_2:nth-child(2){
			position:relative;
			top:-3px;
		}
		.b-section__info_2:first-child{
			margin-top:39px;
		}
			
			.b-section__info_2 .b-info__right{
				max-width:275px;
			}
			
			.b-section__info_2 .b-info__left{
				font-size:24px;
				padding-top:3px;
			}
			.b-section__info_2:nth-child(2) .b-info__left{
				padding-top:10px;
			}
			
				.b-section__info_2 .b-info__left strong{
					font-size:72px;
					line-height:58px;
				}
				
			.b-button{
				background:#dfbb66;
				color:#323232;
				font-size:16px;
				line-height:16px;
				padding:21px 49px 0 37px;
				height:59px;
				display:inline-block;
				vertical-align:top;
				box-shadow: 0px 15px 29px 0px rgba(150,136,104,0.46);
				min-width:214px;
				text-align:center;
			}
			.b-button:hover{
				background:#d0ae5f;
			}
			input.b-button{
				cursor:pointer;
				padding-top:0px;
				border:0px;
				padding-right:37px;
				box-shadow: 0px 0px 46px 0px rgba(6,12,28,0.43);
				font:500 16px Roboto, Arial, Helvetica, sans-serif;
				-webkit-transition: all 0.9s;
				-moz-transition: all 0.9s;
				-o-transition: all 0.9s;
				transition: all 0.9s;
			}
			.b-button_1{
				margin-top:13px;
			}
				
				.b-button span{
					position:relative;
					display:inline-block;
					vertical-align:top;
					font-weight:400;
				}
				.b-button span:after{
					content:'\f2fb';
					height:8px;
					width:6px;
					position:absolute;
					top:0px;
					right:-24px;
					color:#323232;
					font:normal 16px/16px MaterialDesignIconicFont, Arial, Helvetica, sans-serif;
				}

.b-section_slider{
	background:url(../img/bg2.jpg) no-repeat top center;
	min-height:708px;
	padding-bottom:0px;
	display:block;
}

.b-slider{
	position:relative;
	width:100%;
	max-width:1920px;
}
	
	.b-slider__item{
		display:table;
		width:100%;
	}
	
		.b-slider__left{
			float:left;
			width:46.9%;
		}
		
		.b-slider__right{
			float:left;
			width:53%;
		}
			
			.b-slider__photo{
				display:block;
				max-width:100%;
			}
			
			.b-slider__info{
				background:#fff;
				max-width:700px;
				margin-top:91px;
				padding:59px 86px 96px 0;
				min-height:550px;
			}
			
				.b-slider__text{
					font-size:18px;
					line-height:30px;
					padding:35px 0 0 194px;
				}
				
				.b-slider__info .b-headline{
					padding:0 20px 0 194px;
				}
					
					.b-slider__info .b-headline .b-text__line{
						top:36px;
						left:47px;
					}
					
	.b-slider__nav{
		position:relative;
		margin:0 auto;
		height:0px;
		max-width:1600px;
	}

.b-section_services{
	padding:117px 0 68px;
}
	
	.b-services__left{
		float:left;
		padding-left:6px;
		width:620px;
	}
	
	.b-services__right{
		margin-left:689px;
		position:relative;
		padding-top:14px;
	}
	
		.b-services__left .b-headline{
			padding-top:0px;
		}
			
			.b-services__left .b-headline .b-text__line{
				top:37px;
				left:99px;
			}
			
		.b-services__text{
			padding:34px 30px 0 238px;
			font-size:18px;
			line-height:30px;
		}
		
		.b-button_2{
			margin-left:244px;
			position:relative;
			top:-130px;
			margin-bottom:-130px;
		}
		.b-button_2 span:after{
			right:-17px;
		}
		
		.b-service{
			display:inline-block;
			vertical-align:top;
			width:233px;
			text-align:center;
			padding-bottom:27px;
			margin:0 0 35px 2px;
		}
		.b-service:hover{
			background:#dfbb66;
			box-shadow: -1px 0px 29.6px 10.4px rgba(65, 58, 41, 0.15);
			color:#fff;
		}
		
			.b-service__icon{
				height:200px;
				position:relative;
				display:block;
				top:-29px;
				margin-bottom:-29px;
			}
			
			.b-service__icon_1:before{
				content: "\e900";
				font-family:icomoon !important;
  			color: #a3a2a2;
				font-size:145px;
				position:relative;
				top:42px;
			}
			.b-service__icon_2:before{
				content: "\e902";
				font-family:icomoon !important;
  			color: #a3a2a2;
				font-size:129px;
				position:relative;
				top:57px;
				left:-2px;
			}
			.b-service__icon_3:before{
				content: "\e904";
				font-family:icomoon !important;
  			color: #a3a2a2;
				font-size:130px;
				position:relative;
				top:55px;
				left:4px;
			}
			.b-service__icon_4:before{
				content: "\e906";
				font-family:icomoon !important;
  			color: #a3a2a2;
				font-size:145px;
				position:relative;
				top:47px;
			}
			.b-service__icon_5:before{
				content: "\e908";
				font-family:icomoon !important;
  			color: #a3a2a2;
				font-size:130px;
				position:relative;
				top:54px;
				left:4px;
			}
			.b-service__icon_6:before{
				content: "\e90a";
				font-family:icomoon !important;
  			color: #a3a2a2;
				font-size:147px;
				position:relative;
				top:43px;
				left:4px;
			}
			
				.b-service__lines_1:before{
					content: "\e901";
					font-family:icomoon !important;
					color:#d4b96b;
					font-size:147px;
					position:absolute;
					top:41px;
					left:44px;
				}
				.b-service__lines_2:before{
					content: "\e903";
					font-family:icomoon !important;
					color:#d4b96b;
					font-size:130px;
					position:absolute;
					top:56px;
					left:84px;
				}
				.b-service__lines_3:before{
					content: "\e905";
					font-family:icomoon !important;
					color:#d4b96b;
					font-size:130px;
					position:absolute;
					top:56px;
					left:60px;
				}
				.b-service__lines_4:before{
					content: "\e907";
					font-family:icomoon !important;
					color:#d4b96b;
					font-size:147px;
					position:absolute;
					top:45px;
					left:43px;
				}
				.b-service__lines_5:before{
					content: "\e909";
					font-family:icomoon !important;
					color:#d4b96b;
					font-size:130px;
					position:absolute;
					top:55px;
					left:56px;
				}
				.b-service__lines_6:before{
					content: "\e90b";
					font-family:icomoon !important;
					color:#d4b96b;
					font-size:145px;
					position:absolute;
					top:44px;
					left:47px;
				}
				
			.b-service__icon:before,
			.b-service__icon span:before{
				-webkit-transition: all 0.8s;
				-moz-transition: all 0.8s;
				-o-transition: all 0.8s;
				transition: all 0.8s;
			}
				
			.b-service:hover .b-service__icon:before,
			.b-service:hover .b-service__icon span:before,
			.b-service:hover .b-service__price{
				color:#fff;
			}
			
			.b-service__descrip{
				display:inline-block;
				vertical-align:middle;
				line-height:64px;
				height:64px;
			}
				
				.b-service__descrip span{
					font-size:24px;
					line-height:30px;
					display:inline-block;
				}
				
			.b-service__price{
				color:#dfbb66;
				font-size:24px;
				line-height:24px;
				font-weight:700;
				display:block;
				padding:5px 0 0;
				-webkit-transition: all 0.8s;
				-moz-transition: all 0.8s;
				-o-transition: all 0.8s;
				transition: all 0.8s;
			}

/* footer */

.b-push{
	clear: both;
  height:801px;
  width:100%;
}

.b-footer{
	background:url(../img/bg1.png) repeat;
	box-shadow:  0px -33px 38px 0px rgba(0,0,0,0.3);
	height:801px;
	display:table;
	width:100%;
}

.b-footer .b-wrap{
	position:relative;
}
	
	.b-footer__contacts{
		padding:19px 0 0;
		float:left;
		width:55%;
	}
	
	.b-footer__map{
		background:#000;
		position:absolute;
		top:0px;
		right:-160px;
		height:801px;
		width:794px;
	}
	
		.b-headline_contacts{
			padding-left:242px;
		}
	
			.b-headline_contacts h2{
				color:#fff;
			}
			
			.b-headline_contacts .b-text__line{
				top:135px;
				left:96px;
			}
			
		.b-contacts{
			padding:49px 0 0 243px;
		}
		
			.b-contacts__left{
				float:left;
				width:268px;
			}
			
				.b-contacts__phone{
					color:#fff;
					font-size:18px;
					line-height:18px;
					font-weight:500;
					display:block;
					position:relative;
					padding-left:38px;
					margin-bottom:25px;
				}
				.b-contacts__phone:before{
					content:'\f2be';
					height:20px;
					width:20px;
					position:absolute;
					top:-2px;
					left:2px;
					color:#dfbb66;
					font:normal 24px/24px MaterialDesignIconicFont;
				}
				
				.b-contacts__mail{
					color:#fff;
					font-size:18px;
					line-height:18px;
					font-weight:300;
					display:block;
					position:relative;
					padding-left:36px;
				}
				.b-contacts__mail:before{
					content:'\f15a';
					height:18px;
					width:22px;
					position:absolute;
					top:-2px;
					left:2px;
					color:#dfbb66;
					font:normal 24px/24px MaterialDesignIconicFont;
				}
				
			.b-contacts__address{
				margin-left:277px;
				padding-left:34px;
				color:#fff;
				display:block;
				font-style:normal;
				font-size:18px;
				font-weight:300;
				line-height:27px;
				position:relative;
				top:-6px;
			}
			.b-contacts__address:before{
				content:'\f1ab';
				height:21px;
				width:16px;
				position:absolute;
				top:2px;
				left:1px;
				color:#dfbb66;
				font:normal 24px/24px MaterialDesignIconicFont;
			}
			
		.b-contacts__form{
			padding:46px 0 39px;
			position:relative;
			left:-6px;
			width:653px;
		}
		
			.b-contacts__form-hd{
				padding-bottom:23px;
				padding-left:4px;
			}
			
			.b-contacts__form-left{
				float:left;
				padding-bottom:4px;
				width:48.8%;
			}
			
			.b-contacts__form-right{
				float:right;
				padding-bottom:4px;
				width:48.5%;
			}
			
				.b-form__input{
					background:rgba(20,29,40,0.4);
					margin-bottom:19px;
				}
					
					.b-input,
					.b-textarea{
						height:52px;
						border:0px;
						background:none;
						color:#fff;
						font:300 18px Roboto, Arial, Helvetica, sans-serif;
						padding:0 30px;
						width:100%;
						-webkit-transition: all .9s;
						-moz-transition: all .9s;
						-o-transition: all .9s;
						transition: all .9s;
						border:1px solid transparent;
					}
					.b-textarea{
						height:123px;
						padding:15px 20px;
						font-size:16px;
					}
					.b-input:focus,
					.b-textarea:focus{
						border-color:#dfc083;
					}
					
					::-webkit-input-placeholder {color:#fff; opacity:0.6;}
					::-moz-placeholder          {color:#fff; opacity:0.6;}
					:-moz-placeholder           {color:#fff; opacity:0.6;}
					:-ms-input-placeholder      {color:#fff; opacity:0.6;}
					:focus::-webkit-input-placeholder {color: transparent}
					:focus::-moz-placeholder          {color: transparent}
					:focus:-moz-placeholder           {color: transparent}
					:focus:-ms-input-placeholder      {color: transparent}
					
					.b-form__button{
						background:url(../img/button_bg.png) no-repeat top center;
						height:106px;
						display:inline-block;
						vertical-align:top;
						padding-top:20px;
						position:relative;
						top:-20px;
						margin-bottom:-20px;
					}
					
		.b-footer__copyright{
			float:left;
			color:#fff;
			position:relative;
			left:-6px;
		}
		
		.b-footer__icons{
			float:right;
			position:relative;
			top:-4px;
		}
		
			.b-footer__icons .b-icons__fb,
			.b-footer__icons .b-icons__inst{
				position:static;
				display:inline-block;
				vertical-align:top;
				margin:0 8px 0 23px;
			}
			
.map_label{
	background:#fff;
	padding: 20px 20px 31px 27px;
	font:300 18px/27px Roboto, Arial, Helvetica, sans-serif;
	display:inline-block;
	position:absolute;
	width:257px;
}
			
/* /footer */


.b-menu-box .b-logo,
.b-menu-box .b-contacts__left,
.b-menu-box .b-contacts__address,
.mobile-menu-toggle,
.b-menu-box .b-header__icons{
	display:none;
}


/*!;Animate.css - http://daneden.me/animate;Licensed under the MIT license - http://opensource.org/licenses/MIT;;Copyright (c) 2015 Daniel Eden;*/.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}.animated.hinge{-webkit-animation-duration:2s;animation-duration:2s}.animated.bounceIn,.animated.bounceOut,.animated.flipOutX,.animated.flipOutY{-webkit-animation-duration:.75s;animation-duration:.75s}@-webkit-keyframes bounce{0%,100%,20%,53%,80%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1);-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}40%,43%{-webkit-transition-timing-function:cubic-bezier(0.755,.050,.855,.060);transition-timing-function:cubic-bezier(0.755,.050,.855,.060);-webkit-transform:translate3d(0,-30px,0);transform:translate3d(0,-30px,0)}70%{-webkit-transition-timing-function:cubic-bezier(0.755,.050,.855,.060);transition-timing-function:cubic-bezier(0.755,.050,.855,.060);-webkit-transform:translate3d(0,-15px,0);transform:translate3d(0,-15px,0)}90%{-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}}@keyframes bounce{0%,100%,20%,53%,80%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1);-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}40%,43%{-webkit-transition-timing-function:cubic-bezier(0.755,.050,.855,.060);transition-timing-function:cubic-bezier(0.755,.050,.855,.060);-webkit-transform:translate3d(0,-30px,0);transform:translate3d(0,-30px,0)}70%{-webkit-transition-timing-function:cubic-bezier(0.755,.050,.855,.060);transition-timing-function:cubic-bezier(0.755,.050,.855,.060);-webkit-transform:translate3d(0,-15px,0);transform:translate3d(0,-15px,0)}90%{-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}}.bounce{-webkit-animation-name:bounce;animation-name:bounce;-webkit-transform-origin:center bottom;transform-origin:center bottom}@-webkit-keyframes flash{0%,100%,50%{opacity:1}25%,75%{opacity:0}}@keyframes flash{0%,100%,50%{opacity:1}25%,75%{opacity:0}}.flash{-webkit-animation-name:flash;animation-name:flash}@-webkit-keyframes pulse{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}50%{-webkit-transform:scale3d(1.05,1.05,1.05);transform:scale3d(1.05,1.05,1.05)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes pulse{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}50%{-webkit-transform:scale3d(1.05,1.05,1.05);transform:scale3d(1.05,1.05,1.05)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}.pulse{-webkit-animation-name:pulse;animation-name:pulse}@-webkit-keyframes rubberBand{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(0.75,1.25,1);transform:scale3d(0.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes rubberBand{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(0.75,1.25,1);transform:scale3d(0.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}.rubberBand{-webkit-animation-name:rubberBand;animation-name:rubberBand}@-webkit-keyframes shake{0%,100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}10%,30%,50%,70%,90%{-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}20%,40%,60%,80%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}}@keyframes shake{0%,100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}10%,30%,50%,70%,90%{-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}20%,40%,60%,80%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}}.shake{-webkit-animation-name:shake;animation-name:shake}@-webkit-keyframes swing{20%{-webkit-transform:rotate3d(0,0,1,15deg);transform:rotate3d(0,0,1,15deg)}40%{-webkit-transform:rotate3d(0,0,1,-10deg);transform:rotate3d(0,0,1,-10deg)}60%{-webkit-transform:rotate3d(0,0,1,5deg);transform:rotate3d(0,0,1,5deg)}80%{-webkit-transform:rotate3d(0,0,1,-5deg);transform:rotate3d(0,0,1,-5deg)}100%{-webkit-transform:rotate3d(0,0,1,0deg);transform:rotate3d(0,0,1,0deg)}}@keyframes swing{20%{-webkit-transform:rotate3d(0,0,1,15deg);transform:rotate3d(0,0,1,15deg)}40%{-webkit-transform:rotate3d(0,0,1,-10deg);transform:rotate3d(0,0,1,-10deg)}60%{-webkit-transform:rotate3d(0,0,1,5deg);transform:rotate3d(0,0,1,5deg)}80%{-webkit-transform:rotate3d(0,0,1,-5deg);transform:rotate3d(0,0,1,-5deg)}100%{-webkit-transform:rotate3d(0,0,1,0deg);transform:rotate3d(0,0,1,0deg)}}.swing{-webkit-transform-origin:top center;transform-origin:top center;-webkit-animation-name:swing;animation-name:swing}@-webkit-keyframes tada{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}10%,20%{-webkit-transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)}30%,50%,70%,90%{-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)}40%,60%,80%{-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes tada{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}10%,20%{-webkit-transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)}30%,50%,70%,90%{-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)}40%,60%,80%{-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}.tada{-webkit-animation-name:tada;animation-name:tada}@-webkit-keyframes wobble{0%{-webkit-transform:none;transform:none}15%{-webkit-transform:translate3d(-25%,0,0) rotate3d(0,0,1,-5deg);transform:translate3d(-25%,0,0) rotate3d(0,0,1,-5deg)}30%{-webkit-transform:translate3d(20%,0,0) rotate3d(0,0,1,3deg);transform:translate3d(20%,0,0) rotate3d(0,0,1,3deg)}45%{-webkit-transform:translate3d(-15%,0,0) rotate3d(0,0,1,-3deg);transform:translate3d(-15%,0,0) rotate3d(0,0,1,-3deg)}60%{-webkit-transform:translate3d(10%,0,0) rotate3d(0,0,1,2deg);transform:translate3d(10%,0,0) rotate3d(0,0,1,2deg)}75%{-webkit-transform:translate3d(-5%,0,0) rotate3d(0,0,1,-1deg);transform:translate3d(-5%,0,0) rotate3d(0,0,1,-1deg)}100%{-webkit-transform:none;transform:none}}@keyframes wobble{0%{-webkit-transform:none;transform:none}15%{-webkit-transform:translate3d(-25%,0,0) rotate3d(0,0,1,-5deg);transform:translate3d(-25%,0,0) rotate3d(0,0,1,-5deg)}30%{-webkit-transform:translate3d(20%,0,0) rotate3d(0,0,1,3deg);transform:translate3d(20%,0,0) rotate3d(0,0,1,3deg)}45%{-webkit-transform:translate3d(-15%,0,0) rotate3d(0,0,1,-3deg);transform:translate3d(-15%,0,0) rotate3d(0,0,1,-3deg)}60%{-webkit-transform:translate3d(10%,0,0) rotate3d(0,0,1,2deg);transform:translate3d(10%,0,0) rotate3d(0,0,1,2deg)}75%{-webkit-transform:translate3d(-5%,0,0) rotate3d(0,0,1,-1deg);transform:translate3d(-5%,0,0) rotate3d(0,0,1,-1deg)}100%{-webkit-transform:none;transform:none}}.wobble{-webkit-animation-name:wobble;animation-name:wobble}@-webkit-keyframes bounceIn{0%,100%,20%,40%,60%,80%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}20%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}40%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)}80%{-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)}100%{opacity:1;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes bounceIn{0%,100%,20%,40%,60%,80%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}20%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}40%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)}80%{-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)}100%{opacity:1;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}.bounceIn{-webkit-animation-name:bounceIn;animation-name:bounceIn}@-webkit-keyframes bounceInDown{0%,100%,60%,75%,90%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,-3000px,0);transform:translate3d(0,-3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0)}75%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}90%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}100%{-webkit-transform:none;transform:none}}@keyframes bounceInDown{0%,100%,60%,75%,90%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,-3000px,0);transform:translate3d(0,-3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0)}75%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}90%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}100%{-webkit-transform:none;transform:none}}.bounceInDown{-webkit-animation-name:bounceInDown;animation-name:bounceInDown}@-webkit-keyframes bounceInLeft{0%,100%,60%,75%,90%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(-3000px,0,0);transform:translate3d(-3000px,0,0)}60%{opacity:1;-webkit-transform:translate3d(25px,0,0);transform:translate3d(25px,0,0)}75%{-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}90%{-webkit-transform:translate3d(5px,0,0);transform:translate3d(5px,0,0)}100%{-webkit-transform:none;transform:none}}@keyframes bounceInLeft{0%,100%,60%,75%,90%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(-3000px,0,0);transform:translate3d(-3000px,0,0)}60%{opacity:1;-webkit-transform:translate3d(25px,0,0);transform:translate3d(25px,0,0)}75%{-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}90%{-webkit-transform:translate3d(5px,0,0);transform:translate3d(5px,0,0)}100%{-webkit-transform:none;transform:none}}.bounceInLeft{-webkit-animation-name:bounceInLeft;animation-name:bounceInLeft}@-webkit-keyframes bounceInRight{0%,100%,60%,75%,90%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(3000px,0,0);transform:translate3d(3000px,0,0)}60%{opacity:1;-webkit-transform:translate3d(-25px,0,0);transform:translate3d(-25px,0,0)}75%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}90%{-webkit-transform:translate3d(-5px,0,0);transform:translate3d(-5px,0,0)}100%{-webkit-transform:none;transform:none}}@keyframes bounceInRight{0%,100%,60%,75%,90%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(3000px,0,0);transform:translate3d(3000px,0,0)}60%{opacity:1;-webkit-transform:translate3d(-25px,0,0);transform:translate3d(-25px,0,0)}75%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}90%{-webkit-transform:translate3d(-5px,0,0);transform:translate3d(-5px,0,0)}100%{-webkit-transform:none;transform:none}}.bounceInRight{-webkit-animation-name:bounceInRight;animation-name:bounceInRight}@-webkit-keyframes bounceInUp{0%,100%,60%,75%,90%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,3000px,0);transform:translate3d(0,3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}75%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}90%{-webkit-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0)}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@keyframes bounceInUp{0%,100%,60%,75%,90%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,3000px,0);transform:translate3d(0,3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}75%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}90%{-webkit-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0)}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}.bounceInUp{-webkit-animation-name:bounceInUp;animation-name:bounceInUp}@-webkit-keyframes bounceOut{20%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}50%,55%{opacity:1;-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}100%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}}@keyframes bounceOut{20%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}50%,55%{opacity:1;-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}100%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}}.bounceOut{-webkit-animation-name:bounceOut;animation-name:bounceOut}@-webkit-keyframes bounceOutDown{20%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}40%,45%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}100%{opacity:0;-webkit-transform:translate3d(0,2000px,0);transform:translate3d(0,2000px,0)}}@keyframes bounceOutDown{20%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}40%,45%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}100%{opacity:0;-webkit-transform:translate3d(0,2000px,0);transform:translate3d(0,2000px,0)}}.bounceOutDown{-webkit-animation-name:bounceOutDown;animation-name:bounceOutDown}@-webkit-keyframes bounceOutLeft{20%{opacity:1;-webkit-transform:translate3d(20px,0,0);transform:translate3d(20px,0,0)}100%{opacity:0;-webkit-transform:translate3d(-2000px,0,0);transform:translate3d(-2000px,0,0)}}@keyframes bounceOutLeft{20%{opacity:1;-webkit-transform:translate3d(20px,0,0);transform:translate3d(20px,0,0)}100%{opacity:0;-webkit-transform:translate3d(-2000px,0,0);transform:translate3d(-2000px,0,0)}}.bounceOutLeft{-webkit-animation-name:bounceOutLeft;animation-name:bounceOutLeft}@-webkit-keyframes bounceOutRight{20%{opacity:1;-webkit-transform:translate3d(-20px,0,0);transform:translate3d(-20px,0,0)}100%{opacity:0;-webkit-transform:translate3d(2000px,0,0);transform:translate3d(2000px,0,0)}}@keyframes bounceOutRight{20%{opacity:1;-webkit-transform:translate3d(-20px,0,0);transform:translate3d(-20px,0,0)}100%{opacity:0;-webkit-transform:translate3d(2000px,0,0);transform:translate3d(2000px,0,0)}}.bounceOutRight{-webkit-animation-name:bounceOutRight;animation-name:bounceOutRight}@-webkit-keyframes bounceOutUp{20%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}40%,45%{opacity:1;-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0)}100%{opacity:0;-webkit-transform:translate3d(0,-2000px,0);transform:translate3d(0,-2000px,0)}}@keyframes bounceOutUp{20%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}40%,45%{opacity:1;-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0)}100%{opacity:0;-webkit-transform:translate3d(0,-2000px,0);transform:translate3d(0,-2000px,0)}}.bounceOutUp{-webkit-animation-name:bounceOutUp;animation-name:bounceOutUp}@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}100%{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}100%{opacity:1;-webkit-transform:none;transform:none}}.fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown}@-webkit-keyframes fadeInDownBig{0%{opacity:0;-webkit-transform:translate3d(0,-2000px,0);transform:translate3d(0,-2000px,0)}100%{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInDownBig{0%{opacity:0;-webkit-transform:translate3d(0,-2000px,0);transform:translate3d(0,-2000px,0)}100%{opacity:1;-webkit-transform:none;transform:none}}.fadeInDownBig{-webkit-animation-name:fadeInDownBig;animation-name:fadeInDownBig}@-webkit-keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}100%{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}100%{opacity:1;-webkit-transform:none;transform:none}}.fadeInLeft{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft}@-webkit-keyframes fadeInLeftBig{0%{opacity:0;-webkit-transform:translate3d(-2000px,0,0);transform:translate3d(-2000px,0,0)}100%{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInLeftBig{0%{opacity:0;-webkit-transform:translate3d(-2000px,0,0);transform:translate3d(-2000px,0,0)}100%{opacity:1;-webkit-transform:none;transform:none}}.fadeInLeftBig{-webkit-animation-name:fadeInLeftBig;animation-name:fadeInLeftBig}@-webkit-keyframes fadeInRight{0%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}100%{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInRight{0%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}100%{opacity:1;-webkit-transform:none;transform:none}}.fadeInRight{-webkit-animation-name:fadeInRight;animation-name:fadeInRight}@-webkit-keyframes fadeInRightBig{0%{opacity:0;-webkit-transform:translate3d(2000px,0,0);transform:translate3d(2000px,0,0)}100%{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInRightBig{0%{opacity:0;-webkit-transform:translate3d(2000px,0,0);transform:translate3d(2000px,0,0)}100%{opacity:1;-webkit-transform:none;transform:none}}.fadeInRightBig{-webkit-animation-name:fadeInRightBig;animation-name:fadeInRightBig}@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}100%{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}100%{opacity:1;-webkit-transform:none;transform:none}}.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}@-webkit-keyframes fadeInUpBig{0%{opacity:0;-webkit-transform:translate3d(0,2000px,0);transform:translate3d(0,2000px,0)}100%{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInUpBig{0%{opacity:0;-webkit-transform:translate3d(0,2000px,0);transform:translate3d(0,2000px,0)}100%{opacity:1;-webkit-transform:none;transform:none}}.fadeInUpBig{-webkit-animation-name:fadeInUpBig;animation-name:fadeInUpBig}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOutDown{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}}@keyframes fadeOutDown{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}}.fadeOutDown{-webkit-animation-name:fadeOutDown;animation-name:fadeOutDown}@-webkit-keyframes fadeOutDownBig{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(0,2000px,0);transform:translate3d(0,2000px,0)}}@keyframes fadeOutDownBig{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(0,2000px,0);transform:translate3d(0,2000px,0)}}.fadeOutDownBig{-webkit-animation-name:fadeOutDownBig;animation-name:fadeOutDownBig}@-webkit-keyframes fadeOutLeft{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}}@keyframes fadeOutLeft{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}}.fadeOutLeft{-webkit-animation-name:fadeOutLeft;animation-name:fadeOutLeft}@-webkit-keyframes fadeOutLeftBig{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(-2000px,0,0);transform:translate3d(-2000px,0,0)}}@keyframes fadeOutLeftBig{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(-2000px,0,0);transform:translate3d(-2000px,0,0)}}.fadeOutLeftBig{-webkit-animation-name:fadeOutLeftBig;animation-name:fadeOutLeftBig}@-webkit-keyframes fadeOutRight{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}}@keyframes fadeOutRight{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}}.fadeOutRight{-webkit-animation-name:fadeOutRight;animation-name:fadeOutRight}@-webkit-keyframes fadeOutRightBig{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(2000px,0,0);transform:translate3d(2000px,0,0)}}@keyframes fadeOutRightBig{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(2000px,0,0);transform:translate3d(2000px,0,0)}}.fadeOutRightBig{-webkit-animation-name:fadeOutRightBig;animation-name:fadeOutRightBig}@-webkit-keyframes fadeOutUp{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}}@keyframes fadeOutUp{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}}.fadeOutUp{-webkit-animation-name:fadeOutUp;animation-name:fadeOutUp}@-webkit-keyframes fadeOutUpBig{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(0,-2000px,0);transform:translate3d(0,-2000px,0)}}@keyframes fadeOutUpBig{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(0,-2000px,0);transform:translate3d(0,-2000px,0)}}.fadeOutUpBig{-webkit-animation-name:fadeOutUpBig;animation-name:fadeOutUpBig}@-webkit-keyframes flip{0%{-webkit-transform:perspective(400px) rotate3d(0,1,0,-360deg);transform:perspective(400px) rotate3d(0,1,0,-360deg);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}40%{-webkit-transform:perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-190deg);transform:perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-190deg);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}50%{-webkit-transform:perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-170deg);transform:perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-170deg);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}80%{-webkit-transform:perspective(400px) scale3d(.95,.95,.95);transform:perspective(400px) scale3d(.95,.95,.95);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:perspective(400px);transform:perspective(400px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}}@keyframes flip{0%{-webkit-transform:perspective(400px) rotate3d(0,1,0,-360deg);transform:perspective(400px) rotate3d(0,1,0,-360deg);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}40%{-webkit-transform:perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-190deg);transform:perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-190deg);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}50%{-webkit-transform:perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-170deg);transform:perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-170deg);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}80%{-webkit-transform:perspective(400px) scale3d(.95,.95,.95);transform:perspective(400px) scale3d(.95,.95,.95);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:perspective(400px);transform:perspective(400px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}}.animated.flip{-webkit-backface-visibility:visible;backface-visibility:visible;-webkit-animation-name:flip;animation-name:flip}@-webkit-keyframes flipInX{0%{-webkit-transform:perspective(400px) rotate3d(1,0,0,90deg);transform:perspective(400px) rotate3d(1,0,0,90deg);-webkit-transition-timing-function:ease-in;transition-timing-function:ease-in;opacity:0}40%{-webkit-transform:perspective(400px) rotate3d(1,0,0,-20deg);transform:perspective(400px) rotate3d(1,0,0,-20deg);-webkit-transition-timing-function:ease-in;transition-timing-function:ease-in}60%{-webkit-transform:perspective(400px) rotate3d(1,0,0,10deg);transform:perspective(400px) rotate3d(1,0,0,10deg);opacity:1}80%{-webkit-transform:perspective(400px) rotate3d(1,0,0,-5deg);transform:perspective(400px) rotate3d(1,0,0,-5deg)}100%{-webkit-transform:perspective(400px);transform:perspective(400px)}}@keyframes flipInX{0%{-webkit-transform:perspective(400px) rotate3d(1,0,0,90deg);transform:perspective(400px) rotate3d(1,0,0,90deg);-webkit-transition-timing-function:ease-in;transition-timing-function:ease-in;opacity:0}40%{-webkit-transform:perspective(400px) rotate3d(1,0,0,-20deg);transform:perspective(400px) rotate3d(1,0,0,-20deg);-webkit-transition-timing-function:ease-in;transition-timing-function:ease-in}60%{-webkit-transform:perspective(400px) rotate3d(1,0,0,10deg);transform:perspective(400px) rotate3d(1,0,0,10deg);opacity:1}80%{-webkit-transform:perspective(400px) rotate3d(1,0,0,-5deg);transform:perspective(400px) rotate3d(1,0,0,-5deg)}100%{-webkit-transform:perspective(400px);transform:perspective(400px)}}.flipInX{-webkit-backface-visibility:visible!important;backface-visibility:visible!important;-webkit-animation-name:flipInX;animation-name:flipInX}@-webkit-keyframes flipInY{0%{-webkit-transform:perspective(400px) rotate3d(0,1,0,90deg);transform:perspective(400px) rotate3d(0,1,0,90deg);-webkit-transition-timing-function:ease-in;transition-timing-function:ease-in;opacity:0}40%{-webkit-transform:perspective(400px) rotate3d(0,1,0,-20deg);transform:perspective(400px) rotate3d(0,1,0,-20deg);-webkit-transition-timing-function:ease-in;transition-timing-function:ease-in}60%{-webkit-transform:perspective(400px) rotate3d(0,1,0,10deg);transform:perspective(400px) rotate3d(0,1,0,10deg);opacity:1}80%{-webkit-transform:perspective(400px) rotate3d(0,1,0,-5deg);transform:perspective(400px) rotate3d(0,1,0,-5deg)}100%{-webkit-transform:perspective(400px);transform:perspective(400px)}}@keyframes flipInY{0%{-webkit-transform:perspective(400px) rotate3d(0,1,0,90deg);transform:perspective(400px) rotate3d(0,1,0,90deg);-webkit-transition-timing-function:ease-in;transition-timing-function:ease-in;opacity:0}40%{-webkit-transform:perspective(400px) rotate3d(0,1,0,-20deg);transform:perspective(400px) rotate3d(0,1,0,-20deg);-webkit-transition-timing-function:ease-in;transition-timing-function:ease-in}60%{-webkit-transform:perspective(400px) rotate3d(0,1,0,10deg);transform:perspective(400px) rotate3d(0,1,0,10deg);opacity:1}80%{-webkit-transform:perspective(400px) rotate3d(0,1,0,-5deg);transform:perspective(400px) rotate3d(0,1,0,-5deg)}100%{-webkit-transform:perspective(400px);transform:perspective(400px)}}.flipInY{-webkit-backface-visibility:visible!important;backface-visibility:visible!important;-webkit-animation-name:flipInY;animation-name:flipInY}@-webkit-keyframes flipOutX{0%{-webkit-transform:perspective(400px);transform:perspective(400px)}30%{-webkit-transform:perspective(400px) rotate3d(1,0,0,-20deg);transform:perspective(400px) rotate3d(1,0,0,-20deg);opacity:1}100%{-webkit-transform:perspective(400px) rotate3d(1,0,0,90deg);transform:perspective(400px) rotate3d(1,0,0,90deg);opacity:0}}@keyframes flipOutX{0%{-webkit-transform:perspective(400px);transform:perspective(400px)}30%{-webkit-transform:perspective(400px) rotate3d(1,0,0,-20deg);transform:perspective(400px) rotate3d(1,0,0,-20deg);opacity:1}100%{-webkit-transform:perspective(400px) rotate3d(1,0,0,90deg);transform:perspective(400px) rotate3d(1,0,0,90deg);opacity:0}}.flipOutX{-webkit-animation-name:flipOutX;animation-name:flipOutX;-webkit-backface-visibility:visible!important;backface-visibility:visible!important}@-webkit-keyframes flipOutY{0%{-webkit-transform:perspective(400px);transform:perspective(400px)}30%{-webkit-transform:perspective(400px) rotate3d(0,1,0,-15deg);transform:perspective(400px) rotate3d(0,1,0,-15deg);opacity:1}100%{-webkit-transform:perspective(400px) rotate3d(0,1,0,90deg);transform:perspective(400px) rotate3d(0,1,0,90deg);opacity:0}}@keyframes flipOutY{0%{-webkit-transform:perspective(400px);transform:perspective(400px)}30%{-webkit-transform:perspective(400px) rotate3d(0,1,0,-15deg);transform:perspective(400px) rotate3d(0,1,0,-15deg);opacity:1}100%{-webkit-transform:perspective(400px) rotate3d(0,1,0,90deg);transform:perspective(400px) rotate3d(0,1,0,90deg);opacity:0}}.flipOutY{-webkit-backface-visibility:visible!important;backface-visibility:visible!important;-webkit-animation-name:flipOutY;animation-name:flipOutY}@-webkit-keyframes lightSpeedIn{0%{-webkit-transform:translate3d(100%,0,0) skewX(-30deg);transform:translate3d(100%,0,0) skewX(-30deg);opacity:0}60%{-webkit-transform:skewX(20deg);transform:skewX(20deg);opacity:1}80%{-webkit-transform:skewX(-5deg);transform:skewX(-5deg);opacity:1}100%{-webkit-transform:none;transform:none;opacity:1}}@keyframes lightSpeedIn{0%{-webkit-transform:translate3d(100%,0,0) skewX(-30deg);transform:translate3d(100%,0,0) skewX(-30deg);opacity:0}60%{-webkit-transform:skewX(20deg);transform:skewX(20deg);opacity:1}80%{-webkit-transform:skewX(-5deg);transform:skewX(-5deg);opacity:1}100%{-webkit-transform:none;transform:none;opacity:1}}.lightSpeedIn{-webkit-animation-name:lightSpeedIn;animation-name:lightSpeedIn;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}@-webkit-keyframes lightSpeedOut{0%{opacity:1}100%{-webkit-transform:translate3d(100%,0,0) skewX(30deg);transform:translate3d(100%,0,0) skewX(30deg);opacity:0}}@keyframes lightSpeedOut{0%{opacity:1}100%{-webkit-transform:translate3d(100%,0,0) skewX(30deg);transform:translate3d(100%,0,0) skewX(30deg);opacity:0}}.lightSpeedOut{-webkit-animation-name:lightSpeedOut;animation-name:lightSpeedOut;-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}@-webkit-keyframes rotateIn{0%{-webkit-transform-origin:center;transform-origin:center;-webkit-transform:rotate3d(0,0,1,-200deg);transform:rotate3d(0,0,1,-200deg);opacity:0}100%{-webkit-transform-origin:center;transform-origin:center;-webkit-transform:none;transform:none;opacity:1}}@keyframes rotateIn{0%{-webkit-transform-origin:center;transform-origin:center;-webkit-transform:rotate3d(0,0,1,-200deg);transform:rotate3d(0,0,1,-200deg);opacity:0}100%{-webkit-transform-origin:center;transform-origin:center;-webkit-transform:none;transform:none;opacity:1}}.rotateIn{-webkit-animation-name:rotateIn;animation-name:rotateIn}@-webkit-keyframes rotateInDownLeft{0%{-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate3d(0,0,1,-45deg);transform:rotate3d(0,0,1,-45deg);opacity:0}100%{-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:none;transform:none;opacity:1}}@keyframes rotateInDownLeft{0%{-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate3d(0,0,1,-45deg);transform:rotate3d(0,0,1,-45deg);opacity:0}100%{-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:none;transform:none;opacity:1}}.rotateInDownLeft{-webkit-animation-name:rotateInDownLeft;animation-name:rotateInDownLeft}@-webkit-keyframes rotateInDownRight{0%{-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate3d(0,0,1,45deg);transform:rotate3d(0,0,1,45deg);opacity:0}100%{-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:none;transform:none;opacity:1}}@keyframes rotateInDownRight{0%{-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate3d(0,0,1,45deg);transform:rotate3d(0,0,1,45deg);opacity:0}100%{-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:none;transform:none;opacity:1}}.rotateInDownRight{-webkit-animation-name:rotateInDownRight;animation-name:rotateInDownRight}@-webkit-keyframes rotateInUpLeft{0%{-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate3d(0,0,1,45deg);transform:rotate3d(0,0,1,45deg);opacity:0}100%{-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:none;transform:none;opacity:1}}@keyframes rotateInUpLeft{0%{-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate3d(0,0,1,45deg);transform:rotate3d(0,0,1,45deg);opacity:0}100%{-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:none;transform:none;opacity:1}}.rotateInUpLeft{-webkit-animation-name:rotateInUpLeft;animation-name:rotateInUpLeft}@-webkit-keyframes rotateInUpRight{0%{-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate3d(0,0,1,-90deg);transform:rotate3d(0,0,1,-90deg);opacity:0}100%{-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:none;transform:none;opacity:1}}@keyframes rotateInUpRight{0%{-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate3d(0,0,1,-90deg);transform:rotate3d(0,0,1,-90deg);opacity:0}100%{-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:none;transform:none;opacity:1}}.rotateInUpRight{-webkit-animation-name:rotateInUpRight;animation-name:rotateInUpRight}@-webkit-keyframes rotateOut{0%{-webkit-transform-origin:center;transform-origin:center;opacity:1}100%{-webkit-transform-origin:center;transform-origin:center;-webkit-transform:rotate3d(0,0,1,200deg);transform:rotate3d(0,0,1,200deg);opacity:0}}@keyframes rotateOut{0%{-webkit-transform-origin:center;transform-origin:center;opacity:1}100%{-webkit-transform-origin:center;transform-origin:center;-webkit-transform:rotate3d(0,0,1,200deg);transform:rotate3d(0,0,1,200deg);opacity:0}}.rotateOut{-webkit-animation-name:rotateOut;animation-name:rotateOut}@-webkit-keyframes rotateOutDownLeft{0%{-webkit-transform-origin:left bottom;transform-origin:left bottom;opacity:1}100%{-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate3d(0,0,1,45deg);transform:rotate3d(0,0,1,45deg);opacity:0}}@keyframes rotateOutDownLeft{0%{-webkit-transform-origin:left bottom;transform-origin:left bottom;opacity:1}100%{-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate3d(0,0,1,45deg);transform:rotate3d(0,0,1,45deg);opacity:0}}.rotateOutDownLeft{-webkit-animation-name:rotateOutDownLeft;animation-name:rotateOutDownLeft}@-webkit-keyframes rotateOutDownRight{0%{-webkit-transform-origin:right bottom;transform-origin:right bottom;opacity:1}100%{-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate3d(0,0,1,-45deg);transform:rotate3d(0,0,1,-45deg);opacity:0}}@keyframes rotateOutDownRight{0%{-webkit-transform-origin:right bottom;transform-origin:right bottom;opacity:1}100%{-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate3d(0,0,1,-45deg);transform:rotate3d(0,0,1,-45deg);opacity:0}}.rotateOutDownRight{-webkit-animation-name:rotateOutDownRight;animation-name:rotateOutDownRight}@-webkit-keyframes rotateOutUpLeft{0%{-webkit-transform-origin:left bottom;transform-origin:left bottom;opacity:1}100%{-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate3d(0,0,1,-45deg);transform:rotate3d(0,0,1,-45deg);opacity:0}}@keyframes rotateOutUpLeft{0%{-webkit-transform-origin:left bottom;transform-origin:left bottom;opacity:1}100%{-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate3d(0,0,1,-45deg);transform:rotate3d(0,0,1,-45deg);opacity:0}}.rotateOutUpLeft{-webkit-animation-name:rotateOutUpLeft;animation-name:rotateOutUpLeft}@-webkit-keyframes rotateOutUpRight{0%{-webkit-transform-origin:right bottom;transform-origin:right bottom;opacity:1}100%{-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate3d(0,0,1,90deg);transform:rotate3d(0,0,1,90deg);opacity:0}}@keyframes rotateOutUpRight{0%{-webkit-transform-origin:right bottom;transform-origin:right bottom;opacity:1}100%{-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate3d(0,0,1,90deg);transform:rotate3d(0,0,1,90deg);opacity:0}}.rotateOutUpRight{-webkit-animation-name:rotateOutUpRight;animation-name:rotateOutUpRight}@-webkit-keyframes hinge{0%{-webkit-transform-origin:top left;transform-origin:top left;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}20%,60%{-webkit-transform:rotate3d(0,0,1,80deg);transform:rotate3d(0,0,1,80deg);-webkit-transform-origin:top left;transform-origin:top left;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}40%,80%{-webkit-transform:rotate3d(0,0,1,60deg);transform:rotate3d(0,0,1,60deg);-webkit-transform-origin:top left;transform-origin:top left;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;opacity:1}100%{-webkit-transform:translate3d(0,700px,0);transform:translate3d(0,700px,0);opacity:0}}@keyframes hinge{0%{-webkit-transform-origin:top left;transform-origin:top left;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}20%,60%{-webkit-transform:rotate3d(0,0,1,80deg);transform:rotate3d(0,0,1,80deg);-webkit-transform-origin:top left;transform-origin:top left;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}40%,80%{-webkit-transform:rotate3d(0,0,1,60deg);transform:rotate3d(0,0,1,60deg);-webkit-transform-origin:top left;transform-origin:top left;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;opacity:1}100%{-webkit-transform:translate3d(0,700px,0);transform:translate3d(0,700px,0);opacity:0}}.hinge{-webkit-animation-name:hinge;animation-name:hinge}@-webkit-keyframes rollIn{0%{opacity:0;-webkit-transform:translate3d(-100%,0,0) rotate3d(0,0,1,-120deg);transform:translate3d(-100%,0,0) rotate3d(0,0,1,-120deg)}100%{opacity:1;-webkit-transform:none;transform:none}}@keyframes rollIn{0%{opacity:0;-webkit-transform:translate3d(-100%,0,0) rotate3d(0,0,1,-120deg);transform:translate3d(-100%,0,0) rotate3d(0,0,1,-120deg)}100%{opacity:1;-webkit-transform:none;transform:none}}.rollIn{-webkit-animation-name:rollIn;animation-name:rollIn}@-webkit-keyframes rollOut{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(100%,0,0) rotate3d(0,0,1,120deg);transform:translate3d(100%,0,0) rotate3d(0,0,1,120deg)}}@keyframes rollOut{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(100%,0,0) rotate3d(0,0,1,120deg);transform:translate3d(100%,0,0) rotate3d(0,0,1,120deg)}}.rollOut{-webkit-animation-name:rollOut;animation-name:rollOut}@-webkit-keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%{opacity:1}}@keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%{opacity:1}}.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}@-webkit-keyframes zoomInDown{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0);transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0);-webkit-animation-timing-function:cubic-bezier(0.55,.055,.675,.19);animation-timing-function:cubic-bezier(0.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,60px,0);transform:scale3d(.475,.475,.475) translate3d(0,60px,0);-webkit-animation-timing-function:cubic-bezier(0.175,.885,.32,1);animation-timing-function:cubic-bezier(0.175,.885,.32,1)}}@keyframes zoomInDown{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0);transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0);-webkit-animation-timing-function:cubic-bezier(0.55,.055,.675,.19);animation-timing-function:cubic-bezier(0.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,60px,0);transform:scale3d(.475,.475,.475) translate3d(0,60px,0);-webkit-animation-timing-function:cubic-bezier(0.175,.885,.32,1);animation-timing-function:cubic-bezier(0.175,.885,.32,1)}}.zoomInDown{-webkit-animation-name:zoomInDown;animation-name:zoomInDown}@-webkit-keyframes zoomInLeft{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(-1000px,0,0);transform:scale3d(.1,.1,.1) translate3d(-1000px,0,0);-webkit-animation-timing-function:cubic-bezier(0.55,.055,.675,.19);animation-timing-function:cubic-bezier(0.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(10px,0,0);transform:scale3d(.475,.475,.475) translate3d(10px,0,0);-webkit-animation-timing-function:cubic-bezier(0.175,.885,.32,1);animation-timing-function:cubic-bezier(0.175,.885,.32,1)}}@keyframes zoomInLeft{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(-1000px,0,0);transform:scale3d(.1,.1,.1) translate3d(-1000px,0,0);-webkit-animation-timing-function:cubic-bezier(0.55,.055,.675,.19);animation-timing-function:cubic-bezier(0.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(10px,0,0);transform:scale3d(.475,.475,.475) translate3d(10px,0,0);-webkit-animation-timing-function:cubic-bezier(0.175,.885,.32,1);animation-timing-function:cubic-bezier(0.175,.885,.32,1)}}.zoomInLeft{-webkit-animation-name:zoomInLeft;animation-name:zoomInLeft}@-webkit-keyframes zoomInRight{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(1000px,0,0);transform:scale3d(.1,.1,.1) translate3d(1000px,0,0);-webkit-animation-timing-function:cubic-bezier(0.55,.055,.675,.19);animation-timing-function:cubic-bezier(0.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(-10px,0,0);transform:scale3d(.475,.475,.475) translate3d(-10px,0,0);-webkit-animation-timing-function:cubic-bezier(0.175,.885,.32,1);animation-timing-function:cubic-bezier(0.175,.885,.32,1)}}@keyframes zoomInRight{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(1000px,0,0);transform:scale3d(.1,.1,.1) translate3d(1000px,0,0);-webkit-animation-timing-function:cubic-bezier(0.55,.055,.675,.19);animation-timing-function:cubic-bezier(0.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(-10px,0,0);transform:scale3d(.475,.475,.475) translate3d(-10px,0,0);-webkit-animation-timing-function:cubic-bezier(0.175,.885,.32,1);animation-timing-function:cubic-bezier(0.175,.885,.32,1)}}.zoomInRight{-webkit-animation-name:zoomInRight;animation-name:zoomInRight}@-webkit-keyframes zoomInUp{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);-webkit-animation-timing-function:cubic-bezier(0.55,.055,.675,.19);animation-timing-function:cubic-bezier(0.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);-webkit-animation-timing-function:cubic-bezier(0.175,.885,.32,1);animation-timing-function:cubic-bezier(0.175,.885,.32,1)}}@keyframes zoomInUp{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);-webkit-animation-timing-function:cubic-bezier(0.55,.055,.675,.19);animation-timing-function:cubic-bezier(0.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);-webkit-animation-timing-function:cubic-bezier(0.175,.885,.32,1);animation-timing-function:cubic-bezier(0.175,.885,.32,1)}}.zoomInUp{-webkit-animation-name:zoomInUp;animation-name:zoomInUp}@-webkit-keyframes zoomOut{0%{opacity:1}50%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}100%{opacity:0}}@keyframes zoomOut{0%{opacity:1}50%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}100%{opacity:0}}.zoomOut{-webkit-animation-name:zoomOut;animation-name:zoomOut}@-webkit-keyframes zoomOutDown{40%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);-webkit-animation-timing-function:cubic-bezier(0.55,.055,.675,.19);animation-timing-function:cubic-bezier(0.55,.055,.675,.19)}100%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,2000px,0);transform:scale3d(.1,.1,.1) translate3d(0,2000px,0);-webkit-transform-origin:center bottom;transform-origin:center bottom;-webkit-animation-timing-function:cubic-bezier(0.175,.885,.32,1);animation-timing-function:cubic-bezier(0.175,.885,.32,1)}}@keyframes zoomOutDown{40%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);-webkit-animation-timing-function:cubic-bezier(0.55,.055,.675,.19);animation-timing-function:cubic-bezier(0.55,.055,.675,.19)}100%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,2000px,0);transform:scale3d(.1,.1,.1) translate3d(0,2000px,0);-webkit-transform-origin:center bottom;transform-origin:center bottom;-webkit-animation-timing-function:cubic-bezier(0.175,.885,.32,1);animation-timing-function:cubic-bezier(0.175,.885,.32,1)}}.zoomOutDown{-webkit-animation-name:zoomOutDown;animation-name:zoomOutDown}@-webkit-keyframes zoomOutLeft{40%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(42px,0,0);transform:scale3d(.475,.475,.475) translate3d(42px,0,0)}100%{opacity:0;-webkit-transform:scale(.1) translate3d(-2000px,0,0);transform:scale(.1) translate3d(-2000px,0,0);-webkit-transform-origin:left center;transform-origin:left center}}@keyframes zoomOutLeft{40%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(42px,0,0);transform:scale3d(.475,.475,.475) translate3d(42px,0,0)}100%{opacity:0;-webkit-transform:scale(.1) translate3d(-2000px,0,0);transform:scale(.1) translate3d(-2000px,0,0);-webkit-transform-origin:left center;transform-origin:left center}}.zoomOutLeft{-webkit-animation-name:zoomOutLeft;animation-name:zoomOutLeft}@-webkit-keyframes zoomOutRight{40%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(-42px,0,0);transform:scale3d(.475,.475,.475) translate3d(-42px,0,0)}100%{opacity:0;-webkit-transform:scale(.1) translate3d(2000px,0,0);transform:scale(.1) translate3d(2000px,0,0);-webkit-transform-origin:right center;transform-origin:right center}}@keyframes zoomOutRight{40%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(-42px,0,0);transform:scale3d(.475,.475,.475) translate3d(-42px,0,0)}100%{opacity:0;-webkit-transform:scale(.1) translate3d(2000px,0,0);transform:scale(.1) translate3d(2000px,0,0);-webkit-transform-origin:right center;transform-origin:right center}}.zoomOutRight{-webkit-animation-name:zoomOutRight;animation-name:zoomOutRight}@-webkit-keyframes zoomOutUp{40%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,60px,0);transform:scale3d(.475,.475,.475) translate3d(0,60px,0);-webkit-animation-timing-function:cubic-bezier(0.55,.055,.675,.19);animation-timing-function:cubic-bezier(0.55,.055,.675,.19)}100%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,-2000px,0);transform:scale3d(.1,.1,.1) translate3d(0,-2000px,0);-webkit-transform-origin:center bottom;transform-origin:center bottom;-webkit-animation-timing-function:cubic-bezier(0.175,.885,.32,1);animation-timing-function:cubic-bezier(0.175,.885,.32,1)}}@keyframes zoomOutUp{40%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,60px,0);transform:scale3d(.475,.475,.475) translate3d(0,60px,0);-webkit-animation-timing-function:cubic-bezier(0.55,.055,.675,.19);animation-timing-function:cubic-bezier(0.55,.055,.675,.19)}100%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,-2000px,0);transform:scale3d(.1,.1,.1) translate3d(0,-2000px,0);-webkit-transform-origin:center bottom;transform-origin:center bottom;-webkit-animation-timing-function:cubic-bezier(0.175,.885,.32,1);animation-timing-function:cubic-bezier(0.175,.885,.32,1)}}.zoomOutUp{-webkit-animation-name:zoomOutUp;animation-name:zoomOutUp}@-webkit-keyframes slideInDown{0%{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:visible}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0)}}@keyframes slideInDown{0%{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:visible}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}.slideInDown{-webkit-animation-name:slideInDown;animation-name:slideInDown}@-webkit-keyframes slideInLeft{0%{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);visibility:visible}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0)}}@keyframes slideInLeft{0%{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);visibility:visible}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}.slideInLeft{-webkit-animation-name:slideInLeft;animation-name:slideInLeft}@-webkit-keyframes slideInRight{0%{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);visibility:visible}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0)}}@keyframes slideInRight{0%{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);visibility:visible}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}.slideInRight{-webkit-animation-name:slideInRight;animation-name:slideInRight}@-webkit-keyframes slideInUp{0%{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);visibility:visible}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0)}}@keyframes slideInUp{0%{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);visibility:visible}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}.slideInUp{-webkit-animation-name:slideInUp;animation-name:slideInUp}@-webkit-keyframes slideOutDown{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{visibility:hidden;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%)}}@keyframes slideOutDown{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{visibility:hidden;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}}.slideOutDown{-webkit-animation-name:slideOutDown;animation-name:slideOutDown}@-webkit-keyframes slideOutLeft{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{visibility:hidden;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%)}}@keyframes slideOutLeft{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{visibility:hidden;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}}.slideOutLeft{-webkit-animation-name:slideOutLeft;animation-name:slideOutLeft}@-webkit-keyframes slideOutRight{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{visibility:hidden;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%)}}@keyframes slideOutRight{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{visibility:hidden;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}}.slideOutRight{-webkit-animation-name:slideOutRight;animation-name:slideOutRight}@-webkit-keyframes slideOutUp{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{visibility:hidden;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%)}}@keyframes slideOutUp{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{visibility:hidden;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}}.slideOutUp{-webkit-animation-name:slideOutUp;animation-name:slideOutUp}


.slick-slider
{
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
       box-sizing: border-box;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.descrip_slider .slick-list{
	overflow:hidden;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  display: block;
  margin:0 auto;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  vertical-align:top !important;
  height: 100%;
  min-height: 1px;
	outline:none;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
}

.slick-prev.slick-disabled, .slick-next.slick-disabled{
  opacity:0.6;
}

.slick-prev, .slick-next{
	background:#ebebeb;
  height:37px;
	width:51px;
  opacity:1;
  position:absolute;
  top:-142px;
	right:109px;
  display:block;
  cursor:pointer;
  border:0px;
	padding:0px;
}

.slick-prev{
	background:#dfbb66;
	right:160px;
}

.slick-prev:before{
	content:'\f2fa';
	color:#fff;
	font:300 35px/35px MaterialDesignIconicFont;
	height:21px;
  width:11px;
	position:absolute;
	top:2px;
	left:20px;
}
.slick-next:before{
	content:'\f2fb';
	color:#d19d37;
	font:normal 35px/35px MaterialDesignIconicFont;
	height:21px;
  width:11px;
	position:absolute;
	top:2px;
	left:21px;
}

.slick-prev:hover{
	background:#d0ae5f;
}
.slick-next:hover{
	background:#fff;
}

.slick-dots{
	position:absolute;
	top:-123px;
	right:241px;
	height:4px;
	z-index:100;
	min-width:425px;
}

	.slick-dots li{
		display:inline-block;
		vertical-align:top;
		height:14px;
		width:40px;
		overflow:hidden;
		position:relative;
		text-indent:-9999px;
		margin:0 10px 0 0;
	}
	
	.slick-dots li button{
		text-indent:-9999px;
		background:#efefef;
		height:4px;
		width:40px;
		position:absolute;
		top:0px;
		right:0px;
		cursor:pointer;
		overflow:hidden;
		padding:0px;
	}
	.slick-dots li.slick-active button{
		background:#1d2b3c;
	}


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:1910px){

.b-logo{
	left:0px;
	margin-right:0px;
}

.b-phone{
	right:0px;
}

.b-header__bg{
	background-position:170% 0;
}

.b-footer__contacts{
	width:49%;
}
	
	.b-contacts__form{
		width:100%;
	}
	
.b-footer__map{
	width:940px;
}

	.map_label{
		font-size:16px;
		line-height:24px;
		padding:10px;
	}
	
.b-section_slider{
	min-height:inherit;
}
	
	.b-slider__left,
	.b-slider__right{
		width:50%;
	}
	
	.b-slider__info{
		max-width:100%;
		margin-bottom:20px;
		margin-top:20px;
		min-height:inherit;
	}
	
	.slick-dots{
		top:-85px;
		right:auto;
		left:50%;
		max-width:inherit;
		margin-left:194px;
	}
	
	.slick-prev,
	.slick-next{
		top:-105px;
	}
	
	.slick-prev{
		right:100px;
	}
	
	.slick-next{
		right:49px;
	}
	
.b-slider__nav{
	max-width:inherit;
}

.b-services__left{
	padding-left:0px;
}

.b-slider{
	height:653px;
}

	.b-slider__info{
		margin:30px 100px 30px 0;
		height:593px;
	}
	
	.b-slider__photo{
		max-width:inherit;
		height:653px;
	}


}
/* /1920 */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:1670px){

.b-slider__left{
	overflow:hidden;
}

.b-section_slider{
	background-size:cover;
}

	.b-slider__info{
		max-width:inherit;
		padding:30px 40px;
	}
		
		.b-slider__info .b-headline,
		.b-slider__text{
			padding-left:94px;
		}
			
			.b-slider__info .b-headline .b-text__line{
				left:-30px;
			}

	.slick-dots{
		margin-left:134px;
	}

}
/* /1670px */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:1620px){

.b-wrap{
	padding-right:20px;
	padding-left:20px;
	max-width:inherit;
}

.b-site__name{
	padding-left:147px;
}

.b-site__owner{
	margin-left:237px;
}

.b-owner__text{
	padding-left:102px;
}

	.b-text__line{
		left:-40px;
	}

.b-headline{
	padding-left:136px;
}
	
	.b-headline .b-text__line{
		left:0px !important;
	}
	
	.b-slider__info .b-headline .b-text__line{
		left:-20px !important;
	}
	
.b-section__text,
.b-services__text{
	padding-left:139px;
}

.b-section__info,
.b-contacts{
	padding-left:141px;
}

.b-nobel__date{
	margin-left:101px;
}

.b-nobel__img,
.b-button_2{
	margin-left:139px;
}

.b-nobel__text{
	margin-left:140px;
}

.b-section__info_2{
	padding-left:0px;
}
	
.b-footer__map{
	width:980px;
}

.b-footer__contacts{
	width:42%;
}
	
	.b-contacts__address{
		margin-left:250px;
	}

}
/* /1620 */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:1540px){

.b-header__bg{
	background-position:300px 0;
}

.b-info__right{
	max-width:260px;
}

.b-services__right{
	margin-left:630px;
}

.b-footer__contacts{
	width:38%;
}

	.b-contacts{
		padding-left:0px;
	}
	
	.b-headline_contacts{
		padding-top:30px;
	}
		
		.b-headline_contacts .b-text__line{
			top:60px;
		}
	
	.b-contacts__left{
		float:none;
		width:auto;
	}
	
	.b-contacts__address{
		margin:30px 20px 0 0;
	}
		
		.b-contacts__address br{
			display:none;
		}

}
/* /1540px */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:1450px){

.b-header{
	min-height:780px;
}

.b-logo__img{
	width:240px;
}

.b-menu__link{
	font-size:20px;
}

.b-phone{
	font-size:25px;
}

.b-header__bg{
	min-height:780px;
}

	.b-site__name{
		font-size:33px;
	}
	
	.b-site__owner{
		font-size:80px;
		line-height:80px;
	}
		
		.b-site__owner span{
			margin-top:0px;
		}
		
	.b-owner__text{
		font-size:22px;
		line-height:35px;
		max-width:850px;
	}
		
	.b-header__icons{
		top:250px;
	}
	
.b-headline{
	padding-top:30px;
}
	
	.b-headline .b-text__line{
		top:56px;
	}
	
.b-section:not(.b-section_slider){
	padding-bottom:50px;
}
	
h1,
h2{
	font-size:38px;
	line-height:42px;
}

.b-section__info{
	padding-top:20px;
}

	.b-info__left strong{
		font-size:50px;
		line-height:30px;
	}
	
.b-section__photo{
	right:-20px;
	margin-left:0px;
	max-width:110%;
}

.b-nobel__date{
	font-size:250px;
	line-height:80px;
	margin-top:0px;
}
	
	.b-nobel__img{
		width:269px;
		top:-85px;
		margin-bottom:-85px;
	}
	
.b-slider__info .b-headline .b-text__line{
	top:25px;
}
		
	.b-slider__info{
		min-height:inherit;
	}
	
.b-footer__contacts{
	float:left;
	width:45%;
}

.b-footer__map{
	float:right;
	right:-20px;
	position:relative;
	width:55%;
	height:700px;
}

.b-footer{
	height:700px;
}

.b-push{
	height:700px;
}

.b-page{
	margin-bottom:-700px;
}

}
/* /1450px */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:1390px){

.b-site__name{
	padding-top:50px;
	padding-left:50px;
}

.b-site__owner{
	margin-left:150px;
}
	
.b-owner__text{
	padding-left:50px;
}

.b-headline{
	padding-left:90px;
}

	.b-text__line,
	.b-text__line span{
		width:50px;
	}
	
.b-section__text, 
.b-services__text,
.b-section__info,
.b-nobel__date,
.b-nobel__text{
	padding-left:0px;
	margin-left:0px;
}

.b-nobel__text{
	max-width:inherit;
	margin-right:20px;
}

.b-slider__info .b-headline, .b-slider__text{
	padding-left:50px;
}

.b-services__left .b-headline .b-text__line{
	top:24px;
}

.b-services__left{
	width:500px;
}

.b-button_2{
	margin-top:40px;
	margin-left:0px;
}

.b-services__right{
	margin-left:520px;
	padding-top:0px;
}
	
	.b-service{
		width:31%;
		margin-left:0.5%;
		margin-right:0.5%;
		margin-bottom:10px;
	}
		
		.b-service__descrip{
			height:45px;
			line-height:45px;
		}
		
		.b-service__descrip span{
			font-size:18px;
			line-height:20px;
			margin:0 10px;
		}
		
		.b-service__icon{
			height:120px;
			width:100px;
			margin:0 auto;
		}
		
		.b-service__icon:before,
		.b-service__icon span:before{
			font-size:100px !important;
		}
		
		.b-service__lines_1:before{
			left:0px;
		}
		.b-service__lines_2:before{
			left:16px;
			top:59px;
		}
		.b-service__lines_3:before{
			left:6px;
			top:52px;
		}
		.b-service__lines_4:before{
			left:0px;
		}
		.b-service__lines_5:before{
			left:6px;
			top:54px;
		}
		.b-service__lines_6:before{
			left:5px;
			top:42px;
		}
		
.b-section__info_2:first-child{
	margin-top:0px;
}

.b-header__icons{
	right:20px;
}

.b-owner__text{
	overflow:visible;
}

.slick-dots{
	margin-left:90px;
}

.b-slider__info{
	margin-right:51px;
}

.slick-prev{
	right:51px;
}

.slick-next{
	right:0px;
}

}
/* /1390px */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:1240px){

.b-header,
.b-header__bg{
	min-height:600px;
}

.b-header__bg{
	background-size:cover;
}
	
	.b-header__top{
		min-height:60px;
	}
	
		.b-logo{
			margin-top:16px;
		}
		
			.b-logo__img{
				width:180px;
			}
	
		.b-menu{
			padding-top:16px;
		}
			
			.b-menu__item{
				padding-right:50px;
			}
			
				.b-menu__link{
					font-size:17px;
				}
				
		.b-phone{
			font-size:18px;
			padding-top:15px;
		}
		.b-phone:before{
			top:17px;
		}
		
.b-owner__text{
	font-size:18px;
	max-width:600px;
	padding-left:26px;
	padding-top:30px;
}
	
	.b-owner__text .b-text__line{
		top:47px;
	}

.b-section__left{
	width:47%;
}

.b-section__right{
	width:52%;
}

h1, h2{
	font-size:36px;
	line-height:40px;
}

.b-headline{
	padding-left:60px;
}
	
	.b-headline .b-text__line{
		top:50px;
	}
	
.b-nobel__date{
	font-size:180px;
	line-height:70px;
	margin-top:20px;
}
	
	.b-nobel__img{
		width:200px;
		margin-left:70px;
		top:-50px;
		margin-bottom:-50px;
	}
	
	.b-nobel__date span{
		font-size:70px;
		line-height:40px;
	}

.b-service__descrip span{
	font-size:16px;
}

.b-header__icons{
	top:150px;
}

.b-button_1{
	margin-top:50px;
}

}
/* /1240px */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:1110px){

.b-slider,
.b-slider__info{
	height:auto;
}
	
	.b-slider__left{
		float:none;
		padding-top:0px;
		width:100%;
	}
	
	.b-slider__right{
		float:none;
		width:auto;
	}
	
	.b-slider__info{
		margin:0px;
		background:none;
		padding-bottom:45px;
	}
	
	.b-slider__photo{
		max-height:492px;
		margin:0 auto;
	}
	
.b-slider__nav{
	height:0px;
}
	
	.slick-dots{
		top:20px;
		left:0px;
		margin-left:20px;
	}
	
	.slick-prev{
    right: 70px;
		top:-15px;
	}
	
	.slick-next{
		right:19px;
		top:-15px;
	}
	
.b-section__left,
.b-section__right{
	width:auto;
	float:none;
}

	.b-section__text{
		max-width:inherit;
		margin-right:0px;
	}
	
	.b-info__left{
		width:200px;
		float:none;
		display:inline-block;
		vertical-align:bottom;
	}
	
	.b-info__right,
	.b-section__info_2 .b-info__right{
		float:none;
		display:inline-block;
		vertical-align:bottom;
		max-width:600px;
		padding-bottom:10px;
	}
		
		.b-section__photo{
			right:auto;
			margin:20px 0 0;
			top:0px;
			max-width:100%;
		}
		
	.b-section__info_2 .b-info__left,
	.b-section__info_2:nth-child(2) .b-info__left{
		padding-top:20px;
	}
	
	.b-section__info_2:nth-child(2){
		top:0px;
	}
	
	.b-button_1{
		margin-top:40px;
	}
	
	.b-nobel__date{
		font-size:250px;
		line-height:90px;
		margin-top:40px;
	}
	
	.b-nobel__date span{
		text-align:left;
		padding:0 0 0 250px;
	}
	
.b-services__left,
.b-services__right,
.b-footer__contacts,
.b-footer__map{
	float:none;
	width:100%;
	margin:0px;
	right:auto;
}

.b-footer__map{
	height:490px;
}

.b-services__right{
	padding-top:40px;
	text-align:center;
}

.b-footer__contacts{
	padding:0px 20px;
}

	.b-footer .b-wrap{
		padding:0px;
	}
		
		.b-contacts__form{
			padding-bottom:20px;
			left:0px;
		}
	
.b-footer{
	height:auto;
	position:relative;
	padding-bottom:76px;
}

.b-push{
	display:none;
}

.b-page{
	margin-bottom:0px;
}
	
	.b-footer__bottom{
		position:absolute;
		bottom:-56px;
		left:0px;
		width:100%;
		padding:0 20px;
	}
	
	.b-headline_contacts h2 br{
		display:none;
	}
	
.b-button_2{
	top:0px;
	margin-bottom:0px;
}

}
/* /1140px */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:960px){ 

.b-menu-box{
	display:none;
}

.b-phone-box{
	text-align:center;
	margin:0 auto;
	float:right;
	position:relative;
	left:-35%;
}

	.b-phone{
		display:inline-block;
		vertical-align:top;
	}
	
body.menu-toggle{
	overflow:hidden;
	position:fixed;
}

.mobile-menu-toggle{
	position:absolute;
	top:20px;
	right:20px;
	width:25px;
	height:19px;
	display:block;
	cursor:pointer;
	z-index:900;
}

	.mobile-menu-toggle span,
	.mobile-menu-toggle span:before,
	.mobile-menu-toggle span:after{
		content:'';
		background:#fff;
		display:block;
		height:3px;
		width:25px;
		position:absolute;
		top:0px;
		left:0px;
		webkit-transition: background .3s ease-out, top .3s 0s ease-out, -webkit-transform .2s .4s ease-out;
		transition: background .3s ease-out, top .3s 0s ease-out, -webkit-transform .2s .4s ease-out;
		transition: transform .2s .4s ease-out, background .3s ease-out, top .3s 0s ease-out;
		transition: transform .2s .4s ease-out, background .3s ease-out, top .3s 0s ease-out, -webkit-transform .2s .4s ease-out;
	}
	
	.mobile-menu-toggle span:after, 
	.mobile-menu-toggle span:before{
		-webkit-transition: top .3s .3s ease-out, -webkit-transform .2s .0s ease-out;
		transition: top .3s .3s ease-out, -webkit-transform .2s .0s ease-out;
		transition: transform .2s .0s ease-out, top .3s .3s ease-out;
		transition: transform .2s .0s ease-out, top .3s .3s ease-out, -webkit-transform .2s .0s ease-out;
		height:3px;
		width:25px;
		position:absolute;
		top:8px;
		left:0px;
	}

	.mobile-menu-toggle span:after{
		top:16px;
	}

.menu-toggle .mobile-menu-toggle{
	position:fixed;
	z-index:1000;
	height:30px;
}
	
	.menu-toggle .mobile-menu-toggle span{
		background:transparent;
	}

	.menu-toggle .mobile-menu-toggle span:before,
	.menu-toggle .mobile-menu-toggle span:after{
		-webkit-transition: top .3s .0s ease-out, -webkit-transform .2s .3s ease-out;
		transition: top .3s .0s ease-out, -webkit-transform .2s .3s ease-out;
		transition: transform .2s .3s ease-out, top .3s .0s ease-out;
		transition: transform .2s .3s ease-out, top .3s .0s ease-out, -webkit-transform .2s .3s ease-out;
		background: #fff;
		box-shadow: none;
	}
	
	.menu-toggle .mobile-menu-toggle span:before{
		top: 8px;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	
	.menu-toggle .mobile-menu-toggle span:after{
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		top:8px;
	}

.menu-toggle .b-menu-box{
	display:block;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:600px;
	background:url(../img/bg1.png) repeat;
	z-index:1000;
	padding:41px 21px;
	box-shadow:  0px 33px 38px 0px rgba(0,0,0,0.41);
	overflow:auto;
}
	
	.menu-toggle .b-menu-box .b-logo{
		display:block;
		margin-top:0px;
		float:none;
	}
	
	.menu-toggle .b-menu-box .b-phone{
		display:none;
	}
	
	.menu-toggle .b-menu-box .b-contacts__left{
		display:block;
	}
		
		.menu-toggle .b-menu-box .b-contacts__phone{
			font-size:21px;
			line-height:21px;
			padding-left:28px;
			margin-bottom:19px;
			margin-top:31px;
		}
		
		.menu-toggle .b-menu-box .b-logo img{
			width:187px;
		}
		
		.menu-toggle .b-menu-box .b-contacts__address{
			margin-top:23px;
			display:block;
		}
		.menu-toggle .b-menu-box .b-contacts__address:before{
			left:3px;
		}
		
	.menu-toggle .b-menu{
		float:none;
		padding:38px 0 0;
	}
		
		.menu-toggle .b-menu__item{
			padding:0 0 36px;
			float:none;
		}
			
			.menu-toggle .b-menu__link{
				font-size:24px;
				line-height:24px;
				visibility:visible !important;
			}
			
	.menu-toggle .b-menu-box .b-header__icons{
		position:static;
		padding:36px 0 0 7px;
		display:block;
	}
		
		.menu-toggle .b-menu-box .b-header__icons a{
			display:inline-block;
			vertical-align:top;
			margin:0 30px 0 0;
		}

}
/* /960px */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:870px){ 

.b-site__name{
	font-size:20px;
	line-height:22px;
	padding-left:0px;
}

.b-site__owner{
	margin-left:0px;
}

	.b-info__right,
	.b-section__info_2 .b-info__right{
		max-width:500px;
	}

.animated {
	/*CSS transitions*/
	-o-transition-property: none !important;
	-moz-transition-property: none !important;
	-ms-transition-property: none !important;
	-webkit-transition-property: none !important;
	transition-property: none !important;
	/*CSS transforms*/
	-o-transform: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	/*CSS animations*/
	-webkit-animation: none !important;
	-moz-animation: none !important;
	-o-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
}

}
/* /870px */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:760px){ 

.b-header__top{
	min-height:44px;
}
	
	.b-logo{
		margin-top:12px;
	}
	
		.b-logo__img{
			width:116px;
		}

	.mobile-menu-toggle{
		top:12px;
	}
	
	.b-phone-box{
		left:-33%;
	}
	
		.b-phone{
			padding-top:7px;
		}
		.b-phone:before{
			top:7px;
		}
	
.b-site__name{
	font-size:16px;
	line-height:20px;
	padding-top:27px;
}

.b-site__owner{
	font-size:70px;
	line-height:70px;
	margin-top:9px;
}
	
	.b-site__owner span{
		margin-left:60px;
	}
	
.b-header__bg{
	background-position:40px 0;
}
	
	.b-owner__text{
		padding:0px;
		margin:150px 0 0 3px;
		font-size:16px;
		line-height:24px;
	}
		
		.b-owner__text .b-text__line{
			top:-16px;
			width:96px;
			left:0px;
		}
		
.b-headline,
.b-slider__info .b-headline,
.b-services__left .b-headline{
	padding-top:85px;
	padding-left:0px;
}

.b-services__left .b-headline{
	padding-top:72px;
}
	
	.b-headline .b-text__line,
	.b-services__left .b-headline .b-text__line{
		width:96px;
		top:58px;
		left:0px;
	}
	.b-slider__info .b-headline .b-text__line{
		width:96px;
		top:62px;
		left:0px !important;
	}
	.b-services__left .b-headline .b-text__line{
		top:52px;
	}
	
.b-section__text{
	padding-top:25px;
	padding-bottom:10px;
}

.b-section__info{
	padding-top:43px;
	padding-bottom:0px;
}
	
	.b-info__left{
		width:auto;
		float:none;
	}
	
	.b-info__right,
	.b-section__info_2 .b-info__right{
		display:block;
		vertical-align:top;
		max-width:inherit;
		padding-bottom:0px;
	}
		
		.b-info__left strong{
			display:inline-block;
			vertical-align:top;
		}
		
	.b-info__right,
	.b-section__info_2 .b-info__right{
		max-width:inherit;
		float:none;
	}
		
		.b-section__info_2 .b-info__left strong{
			line-height:30px;
		}
		
		.b-info__right br{
			display:none;
		}

	.b-info__left strong{
		font-size:60px;
		position:relative;
		top:-4px;
		margin-right:7px;
	}
	
	.b-info__right, .b-section__info_2 .b-info__right{
		padding-top:6px;
	}
	
.b-section__photo{
	margin-top:47px;
}

.b-nobel__date{
	font-size:160px;
	line-height:55px;
}
	
	.b-nobel__date span{
		font-size:51px;
		line-height:51px;
	}
	
	.b-nobel__img{
		height:320px;
		width:320px;
		margin-left:13px;
	}
	
.b-nobel__text{
	margin-right:0px;
	padding-top:0px;
}

.b-button_1{
	margin-top:43px;
	margin-bottom:11px;
}

h1, h2{
	line-height:48px;
}

.b-slider__info{
	padding:20px;
}
	
	.b-slider__text{
		padding-left:0px;
		padding-top:23px;
		padding-bottom:17px;
	}
	
.slick-dots{
	text-align:left;
	top:16px;
	left:24px;
	margin-left:0px;
}
	
	.slick-dots li{
		width:30px;
		margin-left:0px;
		margin-right:7px;
	}

.b-section__text, .b-services__text{
	padding:23px 0 0;
}

.b-section_services{
	padding-bottom:91px;
}

.b-service{
	width:48%;
}

.map_label{
	margin-left:-120px;
	margin-top:25px;
}

.menu-toggle .b-menu-box{
	height:100%;
}

.b-text__line, .b-text__line span{
	width:95px;
}


}
/* /760px */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:590px){ 

.b-phone-box{
	left:-26%;
}

}
/* /590px */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:500px){ 

.b-header, 
.b-header__bg{
	min-height:646px;
}

.menu-toggle .b-menu-box{
	height:100%;
}

.b-phone-box{
	left:-40px;
}

	.b-phone{
		font-size:14px;
	}
	.b-phone:before{
		font-size:20px;
		left:-25px;
	}

.b-header__bg{
	background-position:-200px 78px;
}

.b-site__name{
	line-height:24px;
	padding-top:25px;
}

.b-site__owner{
	font-size:36px;
	line-height:44px;
	padding-top:6px;
}
	
	.b-site__owner span{
		margin-left:0px;
	}
	
.b-owner__text{
	margin-top:198px;
	padding-right:10px;
}

.b-icons__arrow{
	margin-top:360px;
	left:2px;
}
	
.b-section__left .b-headline{
	max-width:280px;
}

.b-nobel__date{
	margin-top:28px;
	position:relative;
	left:-10px;
	margin-right:-20px;
}

	.b-nobel__date span{
		padding-left:0px !important;
		text-align:right;
	}
	
	.b-nobel__img{
		margin-left:2px;
		margin-right:-70px;
	}
	
.b-button{
	margin-left:auto;
	margin-right:auto;
	width:236px;
	min-width:inherit;
	padding-left:0px;
	padding-right:0px;
	display:block;
}

.b-section__photo{
	height:491px;
	position:relative;
	left:50%;
	margin-left:-307px;
	margin-right:-200px;	
	max-width:inherit;
	position:absolute;
	top:0px;
	width:614px;
}

.b-section_about{
	overflow:hidden;
}

.b-section__right_photo{
	height:491px;
	position:relative;
	width:130%;
	left:-20px;
	margin-bottom:2px;
	overflow:hidden;
}

.b-section_services .b-wrap{
	padding-left:0px;
	padding-right:0px;
}

.b-section_services .b-services__left{
	padding-left:20px;
	padding-right:20px;
}

.b-slider__photo{
	height:490px;
	max-height:490px;
	max-width:inherit;
	position:relative;
}

.b-slider__info{
	padding-right:10px;
}

	.b-slider__info .b-headline{
		padding-top:53px;
		padding-right:0px;
	}
		
		.b-slider__info .b-headline .b-text__line{
			top:30px;
		}
		
.b-service{
	width:100%;
	margin-left:0px;
	margin-right:0px;
	display:table;
}
	
	.b-service__info{
		margin-left:166px;
		text-align:left;
		display:block;
	}
	
	.b-service__icon{
		float:left;
		width:166px;
	}
		
		.b-service__descrip{
			height:88px;
			line-height:88px;
			margin-bottom:8px;
			padding-right:5px;
		}
			
			.b-service__descrip span{
				font-size:18px;
				line-height:30px;
				margin:0px;
			}
			
.b-contacts__form-left,
.b-contacts__form-right{
	float:none;
	width:100%;
}

.b-form__button{
	margin:0 auto;
	text-align:center;
	width:236px;
	display:block;
}

input.b-button{
	padding-right:0px;
	padding-left:0px;
	margin:0 auto;
}

.map_label{
	margin-left:-106px;
	margin-top:25px;
}

.b-footer__bottom{
	padding-left:36px;
	padding-right:27px;
}

.b-section_services{
	padding-bottom:72px !important;
}

	.b-services__right{
		padding-top:17px;
	}
	
		.b-service{
			padding-top:34px;
			padding-bottom:32px;
			margin-bottom:2px;
		}
		
			.b-service__icon{
				height:122px;
			}
		
			.b-service__icon:before{
				font-size:130px !important;
				left:2px;
				top:20px;
			}
			
			.b-service__icon_2:before{
				left:-10px;
			}
			
				.b-service__icon span:before{
					font-size:130px !important;
					left:20px;
					top:55px;
					top:20px;
				}
				.b-service__icon span.b-service__lines_2:before{
					left:40px;
				}
				
				.b-service__icon span.b-service__lines_3:before{
					left:22px;
				}
	
	.b-button_2{
		width:213px;
	}
	
.b-header__icons-mob .b-icons__fb,
.b-header__icons-mob .b-icons__inst{
	display:none;
}

.b-icons__arrow{
	margin-top:421px;
}

.b-section_services{
	padding-top:70px;
}

.b-site__name br{
	display:block;
}

.b-site__owner{
	margin-top:0px;
}

.b-section__text{
	padding-bottom:10px;
}

.b-nobel__text{
	letter-spacing:-0.01em;
}

}
/* /500px */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:420px){ 

.b-slider__photo{
	left:-50%;
}

.b-phone{
	font-size:11px;
}
.b-phone:before{
	font-size:13px;
	left:-20px;
}

.b-logo{
	left:-5px;
	margin-right:-5px;
}

.mobile-menu-toggle{
	right:15px;
}

}
/* /450px */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:320px){ 

.b-page{
	max-width:320px;
}

.b-wrap{
	min-width:320px;
	max-width:320px;
}

}
/* /330px */


