.b-page{
	min-height: 0;
	margin-bottom: 0;
	min-height: 88px;
    margin-bottom: -88px;
}
.contacts .b-footer{
	min-height: 100%;
}
.contacts .b-footer{
	box-shadow: none;
}
.contacts .b-header {
    min-height: 88px;
    margin-bottom: -88px;
    background: none;
    box-shadow: none;
    position: relative;
    z-index: 200;
}
.contacts .b-header__bg {
    background: none;
    min-height: 88px;
}
.b-header__top {
    width: 100%;
    min-height: 88px;
    overflow: hidden;
}
.b-footer__contacts{
	padding-top: 63px;
}
.contacts .b-wrap {
    max-width: 1600px;
    margin: 0 auto;
    margin-top: -15px;
}
.b-footer__contacts {
    padding: 19px 0 0;
    float: none;
    width: 52%;
}
.b-footer__map {
    width: 48%;
}
.b-headline_contacts .b-text__line {
    top: 135px;
    left: 122px;
}
.b-headline_contacts {
    padding-left: 269px;
    margin-top: 44px;
}
.b-contacts {
    padding: 80px 0 0 267px;
}
.b-contacts__phone {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 37px;
}
.b-contacts__mail {
    font-size: 20px;
    line-height: 20px;
}
.b-contacts__address {
    font-size: 20px;
    line-height: 29px;
}
.b-contacts__form {
    padding: 81px 0 39px;
}
input.b-button {
    font: 500 20px Roboto, Arial, Helvetica, sans-serif;
}

.b-wrap{
	display: table;
	width: 100%;
}
.b-footer__contacts,
.b-footer__map{
	display: table-cell;
}
.b-footer__map{
	height: 100%;
}
.b-contacts__form {
    margin-bottom: 197px;
}


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:1910px){

.b-logo{
	left:0px;
	margin-right:0px;
}

.b-phone{
	right:0px;
}

.b-header__bg{
	background-position:170% 0;
}

.b-footer__contacts{
	width:49%;
}
	
	.b-contacts__form{
		width:100%;
	}
	
.b-footer__map{
	width:51%;
}

	.map_label{
		font-size:16px;
		line-height:24px;
		padding:10px;
	}
	
.b-section_slider{
	min-height:inherit;
}

.b-services__left{
	padding-left:0px;
}

.b-slider{
	height:653px;
}

	.b-slider__info{
		margin:30px 100px 30px 0;
		height:593px;
	}
	
	.b-slider__photo{
		max-width:inherit;
		height:653px;
	}


}
/* /1920 */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:1670px){

.b-slider__left{
	overflow:hidden;
}

.b-section_slider{
	background-size:cover;
}

}
/* /1670px */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:1620px){

.b-wrap{
	padding-right:20px;
	padding-left:20px;
	max-width:inherit;
}

.b-site__name{
	padding-left:147px;
}

.b-site__owner{
	margin-left:237px;
}

.b-owner__text{
	padding-left:102px;
}

	.b-text__line{
		left:-40px;
	}

.b-headline{
	padding-left:136px;
}
	
	.b-headline .b-text__line{
		left:0px !important;
	}
	
	.b-slider__info .b-headline .b-text__line{
		left:-20px !important;
	}
	
.b-section__text,
.b-services__text{
	padding-left:139px;
}

.b-section__info,
.b-contacts{
	padding-left:141px;
}

.b-section__info_2{
	padding-left:0px;
}
	
.b-footer__map{
	width:58%;
}

.b-footer__contacts{
	width:42%;
}
	
	.b-contacts__address{
		margin-left:250px;
	}

}
/* /1620 */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:1540px){

.b-header__bg{
	background-position:300px 0;
}

.b-info__right{
	max-width:260px;
}

.b-services__right{
	margin-left:630px;
}

.b-footer__contacts{
	width:38%;
}

	.b-contacts{
		padding-left:0px;
	}
	
	.b-headline_contacts{
		padding-top:30px;
		margin-top: 100px;
	}
		
		.b-headline_contacts .b-text__line{
			top:60px;
		}
	
	.b-contacts__left{
		float:none;
		width:auto;
	}
	
	.b-contacts__address{
		margin:30px 20px 0 0;
	}
		
		.b-contacts__address br{
			display:none;
		}

}
/* /1540px */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:1450px){

.b-header{
	min-height:780px;
}

.b-logo__img{
	width:240px;
}

.b-menu__link{
	font-size:20px;
}

.b-phone{
	font-size:25px;
}

.b-header__bg{
	min-height:780px;
}

	.b-site__name{
		font-size:33px;
	}
	
	.b-site__owner{
		font-size:80px;
		line-height:80px;
	}
		
		.b-site__owner span{
			margin-top:0px;
		}
		
	.b-owner__text{
		font-size:22px;
		line-height:35px;
		max-width:850px;
	}
		
	.b-header__icons{
		top:250px;
	}
	
.b-headline{
	padding-top:30px;
}
	
	.b-headline .b-text__line{
		top:56px;
	}
	
.b-section:not(.b-section_slider){
	padding-bottom:50px;
}

.b-section__info{
	padding-top:20px;
}

	.b-info__left strong{
		font-size:50px;
		line-height:30px;
	}
	
.b-section__photo{
	right:-20px;
	margin-left:0px;
	max-width:110%;
}
	
.b-footer__contacts{
	float:none;
	width:45%;
}

.b-footer__map{
	float:none;
	right:-20px;
	position:relative;
	width:55%;
	height:700px;
}

.b-footer{
	height:700px;
}

.b-push{
	height:700px;
}

.b-contacts__form {
    margin-bottom: 0;
}

}
/* /1450px */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:1390px){

.b-site__name{
	padding-top:50px;
	padding-left:50px;
}

.b-site__owner{
	margin-left:150px;
}
	
.b-owner__text{
	padding-left:50px;
}

.b-headline{
	padding-left:90px;
}

	.b-text__line,
	.b-text__line span{
		width:50px;
	}
	
.b-section__text, 
.b-services__text,
.b-section__info,
.b-nobel__date,
.b-nobel__text{
	padding-left:0px;
	margin-left:0px;
}

.b-nobel__text{
	max-width:inherit;
	margin-right:20px;
}

.b-services__left .b-headline .b-text__line{
	top:24px;
}

.b-services__left{
	width:500px;
}

.b-button_2{
	margin-top:40px;
	margin-left:0px;
}

.b-services__right{
	margin-left:520px;
	padding-top:0px;
}
	
	.b-service{
		width:31%;
		margin-left:0.5%;
		margin-right:0.5%;
		margin-bottom:10px;
	}
		
		.b-service__descrip{
			height:45px;
			line-height:45px;
		}
		
		.b-service__descrip span{
			font-size:18px;
			line-height:20px;
			margin:0 10px;
		}
		
		.b-service__icon{
			height:120px;
			width:100px;
			margin:0 auto;
		}
		
		.b-service__icon:before,
		.b-service__icon span:before{
			font-size:100px !important;
		}
		
		.b-service__lines_1:before{
			left:0px;
		}
		.b-service__lines_2:before{
			left:16px;
			top:59px;
		}
		.b-service__lines_3:before{
			left:6px;
			top:52px;
		}
		.b-service__lines_4:before{
			left:0px;
		}
		.b-service__lines_5:before{
			left:6px;
			top:54px;
		}
		.b-service__lines_6:before{
			left:5px;
			top:42px;
		}
		
.b-section__info_2:first-child{
	margin-top:0px;
}

.b-header__icons{
	right:20px;
}

.b-owner__text{
	overflow:visible;
}

}
/* /1390px */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:1240px){

.b-header,
.b-header__bg{
	min-height:600px;
}

.b-header__bg{
	background-size:cover;
}
	
	.b-header__top{
		min-height:60px;
	}
	
		.b-logo{
			margin-top:16px;
		}
		
			.b-logo__img{
				width:180px;
			}
	
		.b-menu{
			padding-top:16px;
		}
			
			.b-menu__item{
				padding-right:50px;
			}
			
				.b-menu__link{
					font-size:17px;
				}
				
		.b-phone{
			font-size:18px;
			padding-top:15px;
		}
		.b-phone:before{
			top:17px;
		}
		
.b-owner__text{
	font-size:18px;
	max-width:600px;
	padding-left:26px;
	padding-top:30px;
}
	
	.b-owner__text .b-text__line{
		top:47px;
	}

.b-section__left{
	width:47%;
}

.b-section__right{
	width:52%;
}

h1, h2{
	font-size:36px;
	line-height:40px;
}

.b-headline{
	padding-left:60px;
}
	
	.b-headline .b-text__line{
		top:50px;
	}
	
.b-nobel__date{
	font-size:180px;
	line-height:70px;
	margin-top:20px;
}
	
	.b-nobel__img{
		width:200px;
		margin-left:70px;
		top:-50px;
		margin-bottom:-50px;
	}
	
	.b-nobel__date span{
		font-size:70px;
		line-height:40px;
	}

.b-service__descrip span{
	font-size:16px;
}

.b-header__icons{
	top:150px;
}
.contacts .b-wrap {
    margin-top: 0px;
}

}
/* /1240px */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:1110px){

.b-slider,
.b-slider__info{
	height:auto;
}
	
.b-section__left,
.b-section__right{
	width:auto;
	float:none;
}

	.b-section__text{
		max-width:inherit;
		margin-right:0px;
	}
	
	.b-info__left{
		width:200px;
		float:none;
		display:inline-block;
		vertical-align:bottom;
	}
	
	.b-info__right,
	.b-section__info_2 .b-info__right{
		float:none;
		display:inline-block;
		vertical-align:bottom;
		max-width:600px;
		padding-bottom:10px;
	}
		
		.b-section__photo{
			right:auto;
			margin:20px 0 0;
			top:0px;
			max-width:100%;
		}
		
	.b-section__info_2 .b-info__left,
	.b-section__info_2:nth-child(2) .b-info__left{
		padding-top:20px;
	}
	
	.b-section__info_2:nth-child(2){
		top:0px;
	}
	
.b-services__left,
.b-services__right,
.b-footer__contacts,
.b-footer__map{
	float:none;
	width:100%;
	margin:0px;
	right:auto;
}

.b-footer__map{
	height:490px;
	display: block;
}

.b-services__right{
	padding-top:40px;
	text-align:center;
}

.b-footer__contacts{
	padding:0px 20px;
	display: block;
}

	.b-footer .b-wrap{
		padding:0px;
	}
		
		.b-contacts__form{
			padding-bottom:20px;
			left:0px;
			margin-bottom: 0;
		}
	
.b-footer{
	height:auto;
	position:relative;
	padding-bottom:76px;
}

.b-push{
	display:none;
}
	
	.b-footer__bottom{
		position:absolute;
		bottom:-56px;
		left:0px;
		width:100%;
		padding:0 20px;
	}
	
	.b-headline_contacts h2 br{
		display:none;
	}
	
.b-button_2{
	top:0px;
	margin-bottom:0px;
}

}
/* /1140px */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:960px){ 

.b-menu-box{
	display:none;
}

.b-phone-box{
	text-align:center;
	margin:0 auto;
	float:right;
	position:relative;
	left:-35%;
}

	.b-phone{
		display:inline-block;
		vertical-align:top;
	}
	
}
/* /960px */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:870px){ 

.b-site__name{
	font-size:20px;
	line-height:22px;
	padding-left:0px;
}

.b-site__owner{
	margin-left:0px;
}

	.b-info__right,
	.b-section__info_2 .b-info__right{
		max-width:500px;
	}

.animated {
	/*CSS transitions*/
	-o-transition-property: none !important;
	-moz-transition-property: none !important;
	-ms-transition-property: none !important;
	-webkit-transition-property: none !important;
	transition-property: none !important;
	/*CSS transforms*/
	-o-transform: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	/*CSS animations*/
	-webkit-animation: none !important;
	-moz-animation: none !important;
	-o-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
}

}
/* /870px */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:760px){ 

.b-header__top{
	min-height:44px;
}
	
	.b-logo{
		margin-top:12px;
	}
	
		.b-logo__img{
			width:116px;
		}

	.mobile-menu-toggle{
		top:12px;
	}
	
	.b-phone-box{
		left:-33%;
	}
	
		.b-phone{
			padding-top:7px;
		}
		.b-phone:before{
			top:7px;
		}
	
.b-site__name{
	font-size:16px;
	line-height:20px;
	padding-top:27px;
}

.b-site__owner{
	font-size:70px;
	line-height:70px;
	margin-top:9px;
}
	
	.b-site__owner span{
		margin-left:60px;
	}
	
.b-header__bg{
	background-position:40px 0;
}
	
	.b-owner__text{
		padding:0px;
		margin:150px 0 0 3px;
		font-size:16px;
		line-height:24px;
	}
		
		.b-owner__text .b-text__line{
			top:-16px;
			width:96px;
			left:0px;
		}
		
.b-headline,
.b-slider__info .b-headline,
.b-services__left .b-headline{
	padding-top:85px;
	padding-left:0px;
	margin-top: 30px;
}

.b-services__left .b-headline{
	padding-top:72px;
}
	
	.b-headline .b-text__line,
	.b-services__left .b-headline .b-text__line{
		width:96px;
		top:58px;
		left:0px;
	}
	.b-slider__info .b-headline .b-text__line{
		width:96px;
		top:62px;
		left:0px !important;
	}
	.b-services__left .b-headline .b-text__line{
		top:52px;
	}
	
.b-section__text{
	padding-top:25px;
	padding-bottom:10px;
}

.b-section__info{
	padding-top:43px;
	padding-bottom:0px;
}
	
	.b-info__left{
		width:auto;
		float:none;
	}
	
	.b-info__right,
	.b-section__info_2 .b-info__right{
		display:block;
		vertical-align:top;
		max-width:inherit;
		padding-bottom:0px;
	}
		
		.b-info__left strong{
			display:inline-block;
			vertical-align:top;
		}
		
	.b-info__right,
	.b-section__info_2 .b-info__right{
		max-width:inherit;
		float:none;
	}
		
		.b-section__info_2 .b-info__left strong{
			line-height:30px;
		}
		
		.b-info__right br{
			display:none;
		}

	.b-info__left strong{
		font-size:60px;
		position:relative;
		top:-4px;
		margin-right:7px;
	}
	
	.b-info__right, .b-section__info_2 .b-info__right{
		padding-top:6px;
	}
	
.b-section__photo{
	margin-top:47px;
}	

.b-section__text, .b-services__text{
	padding:23px 0 0;
}

.b-section_services{
	padding-bottom:91px;
}

.b-service{
	width:48%;
}

.map_label{
	margin-left:-120px;
	margin-top:25px;
}

.menu-toggle .b-menu-box{
	height:100%;
}

.b-text__line, .b-text__line span{
	width:95px;
}

.b-contacts{
	padding-top: 55px;
}
/* /760px */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:590px){ 

.b-phone-box{
	left:-26%;
}

}
/* /590px */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:500px){ 

.b-header, 
.b-header__bg{
	min-height:646px;
}

.b-phone-box{
	left:-40px;
}

	.b-phone{
		font-size:14px;
	}
	.b-phone:before{
		font-size:20px;
		left:-25px;
	}

.b-header__bg{
	background-position:-200px 78px;
}

.b-site__name{
	line-height:24px;
	padding-top:25px;
}

.b-site__owner{
	font-size:36px;
	line-height:44px;
	padding-top:6px;
}
	
	.b-site__owner span{
		margin-left:0px;
	}
	
.b-owner__text{
	margin-top:198px;
	padding-right:10px;
}

.b-icons__arrow{
	margin-top:360px;
	left:2px;
}
	
.b-section__left .b-headline{
	max-width:280px;
}

.b-nobel__date{
	margin-top:28px;
	position:relative;
	left:-10px;
	margin-right:-20px;
}

	.b-nobel__date span{
		padding-left:0px !important;
		text-align:right;
	}
	
	.b-nobel__img{
		margin-left:2px;
		margin-right:-70px;
	}
	
.b-button{
	margin-left:auto;
	margin-right:auto;
	width:236px;
	min-width:inherit;
	padding-left:0px;
	padding-right:0px;
	display:block;
}

.b-section__photo{
	height:491px;
	position:relative;
	left:50%;
	margin-left:-307px;
	margin-right:-200px;	
	max-width:inherit;
	position:absolute;
	top:0px;
	width:614px;
}

.b-section_about{
	overflow:hidden;
}

.b-section__right_photo{
	height:491px;
	position:relative;
	width:130%;
	left:-20px;
	margin-bottom:2px;
	overflow:hidden;
}

.b-section_services .b-wrap{
	padding-left:0px;
	padding-right:0px;
}

.b-section_services .b-services__left{
	padding-left:20px;
	padding-right:20px;
}

		
.b-service{
	width:100%;
	margin-left:0px;
	margin-right:0px;
	display:table;
}
	
	.b-service__info{
		margin-left:166px;
		text-align:left;
		display:block;
	}
	
	.b-service__icon{
		float:left;
		width:166px;
	}
		
		.b-service__descrip{
			height:88px;
			line-height:88px;
			margin-bottom:8px;
			padding-right:5px;
		}
			
			.b-service__descrip span{
				font-size:18px;
				line-height:30px;
				margin:0px;
			}
			
.b-contacts__form-left,
.b-contacts__form-right{
	float:none;
	width:100%;
}

.b-form__button{
	margin:0 auto;
	text-align:center;
	width:236px;
	display:block;
}

input.b-button{
	padding-right:0px;
	padding-left:0px;
	margin:0 auto;
}

.map_label{
	margin-left:-106px;
	margin-top:25px;
}

.b-footer__bottom{
	padding-left:36px;
	padding-right:27px;
}

.b-section_services{
	padding-bottom:72px !important;
}

	.b-services__right{
		padding-top:17px;
	}
	
		.b-service{
			padding-top:34px;
			padding-bottom:32px;
			margin-bottom:2px;
		}
		
			.b-service__icon{
				height:122px;
			}
		
			.b-service__icon:before{
				font-size:130px !important;
				left:2px;
				top:20px;
			}
			
			.b-service__icon_2:before{
				left:-10px;
			}
			
				.b-service__icon span:before{
					font-size:130px !important;
					left:20px;
					top:55px;
					top:20px;
				}
				.b-service__icon span.b-service__lines_2:before{
					left:40px;
				}
				
				.b-service__icon span.b-service__lines_3:before{
					left:22px;
				}
	
	.b-button_2{
		width:213px;
	}
	
.b-header__icons-mob .b-icons__fb,
.b-header__icons-mob .b-icons__inst{
	display:none;
}

.b-icons__arrow{
	margin-top:421px;
}

.b-section_services{
	padding-top:70px;
}

.b-site__name br{
	display:block;
}

.b-site__owner{
	margin-top:0px;
}

.b-section__text{
	padding-bottom:10px;
}

}
/* /500px */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:420px){ 

.b-slider__photo{
	left:-50%;
}

.b-phone{
	font-size:11px;
}
.b-phone:before{
	font-size:13px;
	left:-20px;
}

.b-logo{
	left:-5px;
	margin-right:-5px;
}

.mobile-menu-toggle{
	right:15px;
}

}
/* /450px */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:320px){ 

.b-page{
	max-width:320px;
}

.b-wrap{
	min-width:320px;
	max-width:320px;
}

}
/* /330px */




