.med-services .b-header{
	margin-bottom: 0px;
	background: #1d2b3c;
	min-height: 98px;
}
.med-services .b-page{
	margin-bottom: 0px;	
	min-height: 100%;
	padding-bottom: 35px;
	margin-bottom: -35px;
}
.med-services .b-footer{
	height: auto;
	min-height: auto;
	background: #fff;
}
.med-services .b-icons__inst:before{
	color: #282828;
}
.med-services .b-icons__fb:before{
	color: #282828;
}
.med-services .b-footer__copyright{
	color: #282828;
}
.main-content{
	padding-bottom: 50px;
	display: inline-block;
	width: 100%;
}
.main-content-wrapper{
	max-width: 1130px;
    margin: 0 auto;
}
.left-col{
	float: left;
	width: 462px;
	position: relative;
	z-index: 2;
}
.content{
	margin-left: -462px;
	float: left;
	width: 100%;
	padding-left: 477px;
}
.b-headline_services{
	padding-left: 0px;
	margin-top: 0px;
	padding-top: 92px;
	margin-bottom: 30px;
}
.b-headline_services h2{
	color: #282828;
}
.b-headline_services .b-text__line{
	left: -140px;
	top: 131px;
}
.services-list__item{
	height: 60px;
	padding: 16px 0px;
}
.services-list__link{
	font-size: 24px;
	color: #282828;
	font-weight: 400;
	text-transform: uppercase;
	position: relative;
}
.services-list__link.active{
	color: #d4b96b;
	font-weight: bold;
}
.services-list__link.active:after{
	content: '';
	display: block;
	width: 12px;
	height: 10px;
	position: absolute;
	top: 50%;
	margin-top: -6px;
	right: -20px;
	background-image: url("../img/arrow.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
}
.col{
	display: inline-block;
	margin-right: -4px;
	vertical-align: top;
}
.col_1{
	width: 73.0474%;
	font-size: 20px;
	color: #282828;
	font-weight: 300;
	padding-right: 55px;
	line-height: 30px;
}
.col_2{
	width: 26.9525%;
	font-weight: bold;
	font-size: 24px;
	color: #dfbb66;
}
.price-list-table-row{
	margin-bottom: 48px;
}
.price-list-table-row_titles{
	margin-bottom: 29px;
}
.price-list-table-row_titles .col_1{
	font-weight: bold;
}
.price-list-table-row_titles .col_2{
	font-size: 20px;
	color: #282828;
}
.tabs-wrapper{
	padding-top: 18px;
}
.tabs-item__link{
	display: none;
}
.tabs-item{
	position: absolute;
	top: -99999px;
	left: -99999px;
	opacity: 0;
	transition: 0.3s all linear;
}
.about-page .tabs-item{
	position: static;
	opacity: 1;
}
.tabs-item.active{
	opacity: 1;
	position: static;
}
.col-title-mob{
	display: none;
}

/* === MEDIA === */
@media only screen and (max-width:1620px){
	.b-headline_services .b-text__line{
		left: -140px;
		top: 86px;
	}
	.main-content-wrapper{
		padding: 0px 20px;
	    margin: 0 auto;
	}
} 
@media only screen and (max-width:1450px){
	.med-services .b-header{
		min-height: 88px;
	}
}
@media only screen and (max-width:1240px){
	.services-list__link.active:after{
		right: -15px;
	}
	.col_1{
		width: 65%;
		padding-right: 20px;
	}
	.col_2{
		width: 35%;
	}
	.left-col{
		width: 400px;
	}
	.content{
		margin-left: -400px;
		padding-left: 415px;
	}
	.about-page .col_1{
		width: 75%;
	}
	.about-page .col_2{
		width: 25%;
	}
}	
@media only screen and (max-width:960px){
	.services-list__link.active:after{
		margin-top: -6px;
	}
	.left-col{
		width: 250px;
	}
	.content{
		width: 100%;
		margin-left: -250px;
		padding-left: 285px;
	}
	.services-list__link{
		font-size: 16px;
	}
	.services-list__item{
		height: 35px;
		padding: 7px 0px;
	}
	.b-headline_services{
		padding-top: 50px;
	}
	.b-headline_services .b-text__line{
		top: 45px;
	}
	.tabs-wrapper{
		padding-top: 4px;
	}
	.col_1{
		font-size: 18px;
	}
	.price-list-table-row_titles .col_2{
		font-size: 18px;
	}
	.col_2{
		font-size: 20px;
	}
	.price-list-table-row_titles{
		margin-bottom: 15px;
	}
	.price-list-table-row{
		margin-bottom: 15px;
	}
	.col_1{
		line-height: 25px;
	}
	.price-list-table-row_titles .col_1{
		line-height: 30px;
	}
}
@media only screen and (max-width:767px){
	.left-col{
		display: none;
		float: none;
	}
	.content{
		padding-left: 0px;
		margin-left: 0px;
		float: none;
	}
	.tabs-item__link{
		display: inline-block;
		font-size: 24px;
		color: #282828;
		font-weight: 400;
		text-transform: uppercase;
		position: relative;
	}
	.tabs-item__link.active{
		font-weight: bold;
		color: #d4b96b;
	}
	.tabs-item__link.active:after{
		content: '';
		display: block;
		width: 12px;
		height: 10px;
		position: absolute;
		top: 50%;
		margin-top: -6px;
		right: -20px;
		background-image: url("../img/arrow.png");
		background-position: 0px 0px;
		background-repeat: no-repeat;
	}
	.tabs-item{
		display: block;
		position: static;
		opacity: 1;
		margin-bottom: 20px;
	}
	.tabs-item .price-list-table{
		display: none;
	}
	.tabs-item.active .price-list-table{
		display: block;
	}
	.price-list-table{
		margin-top: 15px;
	}
	.about-page .tabs-item .price-list-table{
		display: block;
	}
	.about-page .tabs-item{
		position: static;
		opacity: 1;
	}
}
@media only screen and (max-width:550px){
	.price-list-table-row_titles{
		display: none;
	}
	.col-title-mob{
		display: block;
		font-size: 20px;
		color: #282828;
		font-weight: bold;
		margin-bottom: 10px;
	}
	.col{
		width: 100%;
		margin-bottom: 29px;
	}
	.b-headline_contacts h2 br{
		display: block;
	}
	.med-services .b-header{
		height: 44px;
		min-height: 44px;
	}
	.med-services .b-header__bg{
		min-height: 44px;
	}
	.b-headline_services{
		padding-top: 71px;
	}
	.price-list-table{
		margin-top: 23px;
	}
	.col_1{
		line-height: 30px;
		font-size: 20px;
	}
	.col_2{
		font-size: 24px;
	}
	.price-list-table-row{
		margin-bottom: 8px;
	}
	.about-page .col_1{
		width: 65%;
	}
	.about-page .col_2{
		width: 35%;
	}
}

.about-page .content{
	padding-left: 0px;
	float: none;
	margin-left: 0px;
}
.page-about .tabs-item{
	display: block;
}
